<table>
  <tr>
    <td colspan="2">
      <h5 class="title">{{ 'Community/Contact/Title' | gmessage }}</h5>
    </td>
  </tr>
  <tr>
    <td>
      <mat-icon aria-hidden="false" fontIcon="call"></mat-icon>
    </td>
    <td class="text-break">
      <a class="card-text link-color" href="tel:{{ communityPhone }}">{{ communityPhone }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <mat-icon aria-hidden="false" fontIcon="mail"></mat-icon>
    </td>
    <td class="text-break">
      <a class="card-text link-color" href="mailto:{{ communityEmail }}">{{ communityEmail }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <mat-icon aria-hidden="false" fontIcon="language"></mat-icon>
    </td>
    <td class="text-break">
      <a class="card-text link-color" href="{{ communityWebPage }}">{{ communityWebPage }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <mat-icon aria-hidden="false" fontIcon="location_on"></mat-icon>
    </td>
    <td class="text-break">
      <span [innerHtml]="communityAddress"></span>
    </td>
  </tr>
</table>
