<div class="row">
  <form [formGroup]="formGroup">
    @if (currentStep() === formSteps.EnterEmail) {
      <div class="row mb-4">
        <mat-form-field>
          <mat-label>{{ 'Login/Email' | gmessage }}</mat-label>
          <input
            #emailInput
            type="text"
            matInput
            [placeholder]="'Login/EmailPlaceholder' | gmessage"
            [formControl]="formGroup.controls.email" />
          <mat-hint>{{ 'Login/EmailHint' | gmessage }}</mat-hint>
          @if (formGroup.controls.email.errors) {
            <mat-error>{{ 'Login/EmailHint' | gmessage }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row mb-2">
        <div class="col-12 offset-sm-6 col-sm-6">
          <button mat-raised-button class="w-100" type="submit" (click)="goToStepEnterPhone()">
            {{ 'Shared/BtnNext' | gmessage }}
          </button>
        </div>
      </div>
    } @else if (currentStep() === formSteps.EnterPhone) {
      <div class="row mb-4">
        <mat-form-field>
          <mat-label>{{ 'Login/Phone' | gmessage }}</mat-label>
          <input
            #phoneInput
            type="text"
            matInput
            [placeholder]="'Login/PhonePlaceholder' | gmessage"
            [formControl]="formGroup.controls.phone" />
          <mat-hint>{{ 'Login/PhoneHint' | gmessage }}</mat-hint>
          @if (formGroup.controls.phone.errors) {
            <mat-error>{{ 'Login/PhoneHint' | gmessage }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <button mat-raised-button class="w-100" type="button" (click)="goToStepEnterEmail()">
            {{ 'Shared/BtnBack' | gmessage }}
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button class="w-100" type="submit" (click)="goToStepEnterPassword()">
            {{ 'Shared/BtnNext' | gmessage }}
          </button>
        </div>
      </div>
    } @else if (currentStep() === formSteps.AuthenticationTypeNotSet) {
      <div class="row">
        <div class="col-12" [innerHtml]="'Login/PasscodeNotSetMessage' | gmessage"></div>
      </div>
    } @else if (currentStep() === formSteps.EnterPassword) {
      <div class="row mb-2">
        <mat-form-field>
          <mat-label>{{ 'Login/Password' | gmessage }}</mat-label>
          <input
            #passwordInput
            matInput
            [type]="hidePasscode() ? 'password' : 'text'"
            [placeholder]="'Login/PasswordPlaceholder' | gmessage"
            [formControl]="formGroup.controls.passcode" />
          <button
            mat-icon-button
            matSuffix
            tabindex="-1"
            (click)="togglePasscodeVisibility($event)"
            [attr.aria-label]="'Login/HidePasswordAriaLabel' | gmessage"
            [attr.aria-pressed]="hidePasscode()">
            <mat-icon>{{ hidePasscode() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      @if (showResetPasscodeButton()) {
        <div class="row mb-2">
          <div class="offset-3 col-9 offset-sm-6 col-sm-6">
            <button mat-button class="w-100" type="button" (click)="goToStepForgotPassword()">
              {{ 'Login/ForgotPassword' | gmessage }}
            </button>
          </div>
        </div>
      }
      <div class="row mb-2">
        <div class="col-6">
          <button mat-raised-button class="w-100" type="button" (click)="goToStepEnterEmail()">
            {{ 'Shared/BtnBack' | gmessage }}
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button class="w-100" type="submit" (click)="login()">
            {{ 'Login/BtnLogin' | gmessage }}
          </button>
        </div>
      </div>
    } @else if (currentStep() === formSteps.EnterPin) {
      <div class="row mb-2">
        <mat-form-field>
          <mat-label>{{ 'Login/Pin' | gmessage }}</mat-label>
          <app-mat-opt-input-component
            #pinInput
            tabindex="-1"
            [hidePin]="hidePasscode()"
            [formControl]="formGroup.controls.passcode"
            [placeholder]="'Login/PinPlaceholder' | gmessage">
          </app-mat-opt-input-component>
          <button
            mat-icon-button
            matSuffix
            tabindex="-1"
            (click)="togglePasscodeVisibility($event)"
            [attr.aria-label]="'Login/HidePinAriaLabel' | gmessage"
            [attr.aria-pressed]="hidePasscode()">
            <mat-icon>{{ hidePasscode() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      @if (showResetPasscodeButton()) {
        <div class="row mb-2">
          <div class="offset-3 col-9 offset-sm-6 col-sm-6">
            <button mat-button class="w-100" type="button" (click)="goToStepForgotPassword()">
              {{ 'Login/ForgotPin' | gmessage }}
            </button>
          </div>
        </div>
      }
      <div class="row mb-2">
        <div class="col-6">
          <button mat-raised-button class="w-100" type="button" (click)="goToStepEnterEmail()">
            {{ 'Shared/BtnBack' | gmessage }}
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button class="w-100" type="submit" (click)="login()">
            {{ 'Login/BtnLogin' | gmessage }}
          </button>
        </div>
      </div>
    } @else if (currentStep() === formSteps.ResetPasscode) {
      <div class="row">
        <div class="col-12 mb-3">
          @if (authType() === AuthenticationTypes.Password) {
            <mat-hint>{{ 'Login/ResetPasswordHint' | gmessage }}</mat-hint>
          } @else if (authType() === AuthenticationTypes.Pin) {
            <mat-hint>{{ 'Login/ResetPinHint' | gmessage }}</mat-hint>
          }
        </div>

        <div class="col-12 mb-3">
          @if (authType() === AuthenticationTypes.Password) {
            <button mat-stroked-button class="w-100" type="button" (click)="requestResetPasscode()">
              {{ 'Login/BtnResetPassword' | gmessage }}
            </button>
          } @else if (authType() === AuthenticationTypes.Pin) {
            <button mat-stroked-button class="w-100" type="button" (click)="requestResetPasscode()">
              {{ 'Login/BtnResetPin' | gmessage }}
            </button>
          }
        </div>

        <div class="col-12">
          @if (authType() === AuthenticationTypes.Password) {
            <mat-hint>{{ 'Login/BtnResetPasswordHint' | gmessage }}</mat-hint>
          } @else if (authType() === AuthenticationTypes.Pin) {
            <mat-hint>{{ 'Login/BtnResetPinHint' | gmessage }}</mat-hint>
          }
        </div>
      </div>
    } @else if (currentStep() === formSteps.UserNotActive) {
      <div>
        <div class="row mb-3">
          <div class="col-12 error-container fw-bold p-2">
            {{ 'Login/AccountNotActiveErrorTitle' | gmessage }}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12" [innerHtml]="'Login/ErrorAccountNotActive' | gmessage"></div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <button mat-raised-button class="w-100" type="button" (click)="goToStepEnterEmail()">
            {{ 'Shared/BtnBack' | gmessage }}
          </button>
        </div>
      </div>
    }

    @if (loginError()) {
      <p class="mat-mdc-form-field-error">
        {{ loginError() }}
      </p>
    }
  </form>
</div>
