<mat-toolbar class="size-md border-bottom">
  <mat-toolbar-row class="size-md">
    @if (this.isMobile || this.sidenav?.opened !== true) {
      <button mat-icon-button color="accent" class="me-2 header-button" (click)="openSidenav()">
        <mat-icon class="icon">menu</mat-icon>
      </button>
    }
    <img
      class="header-image me-2"
      src="{{ './images/' + headerImageName + '.png' }}"
      alt="{{ 'Shared/Name' | gmessage }}"
      title="{{ 'Shared/Name' | gmessage }}" />
    <span>{{ 'Shared/MainMenuTitle' | gmessage }}</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
