<mat-toolbar>
  <mat-toolbar-row>
    <button *ngIf="this.sidenav?.opened !== true" mat-icon-button color="accent" class="me-2" (click)="openSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img
      class="header-image me-2"
      src="{{ './assets/images/' + headerImageName + '.png' }}"
      alt="{{ 'Shared/Name' | gmessage }}"
      title="{{ 'Shared/Name' | gmessage }}"
    />
    <span>{{ "Shared/MainMenuTitle" | gmessage }}</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
