.calendar-container {
  .cal-month-view .cal-day-cell {
    width: 10px;
    padding: 0 0.125rem;

    &.cal-today {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        content: '';
        background: var(--mat-sys-primary);
      }
    }

    &.cal-out-month {
      .cal-day-number {
        opacity: 0.5;
      }

      &.cal-disabled {
        pointer-events: none;

        .cal-day-number {
          opacity: 0.3;
        }
      }
    }

    &.cal-today .cal-day-number {
      font-size: 1rem;
    }

    &.cal-in-month.cal-has-events {
      cursor: default;
    }
  }

  .cal-month-view {
    .cal-day-number {
      opacity: 1;
      font-size: 1rem;
    }

    .cal-disabled {
      pointer-events: none;

      .cal-day-number {
        opacity: 0.3;
      }
    }
  }

  mwl-calendar-week-view-event {
    .cal-event-title {
      white-space: wrap;
      word-wrap: break-word;
    }
  }

  mwl-calendar-week-view-event,
  mwl-calendar-month-cell {
    .cal-event-title {
      font-size: calc(0.875rem * var(--font-size));
    }
  }
}

.bulletin-calendar {
  .cal-month-view {
    .cal-day-cell {
      &.cal-bulletin-even {
        background-color: color-mix(in srgb, var(--mat-sys-secondary-fixed) 40%, transparent);
      }

      &.cal-bulletin-odd {
        background-color: color-mix(in srgb, var(--mat-sys-surface-dim) 40%, transparent);
      }
    }
  }
}

body.theme-dark {
  .calendar-container {
    .cal-month-view .cal-day-cell {
      &.cal-bulletin-even {
        background-color: color-mix(in srgb, var(--bs-primary-border-subtle) 70%, transparent);
      }

      &.cal-bulletin-odd {
        background-color: color-mix(in srgb, var(--bs-light-border-subtle) 70%, transparent);
      }
    }
  }
}
