:host {
  width: 100%;

  .section-list {
    max-width: 100%;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;

    .section-box {
      &.clickable {
        cursor: pointer;
        background-color: var(--bs-card-cap-bg);

        &.selected {
          background-color: var(
            --mat-list-active-indicator-color,
            var(--mat-sys-secondary-container)
          );
        }
      }
    }
  }
}
