.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }
