<mat-sidenav-container class="container mat-app-background">
  <mat-sidenav #sidenav mode="over" [opened]="false">
    <mat-toolbar>
      <button mat-icon-button color="accent" class="mr-1" (click)="closeSidenav()">
        <mat-icon>close</mat-icon>
      </button>
      <span>{{ 'Shared/Menu' | gmessage }}</span>
    </mat-toolbar>

  </mat-sidenav>

  <mat-sidenav-content>
    <section class="layout">
      <div class="header">
        <app-header [sidenav]="sidenav"></app-header>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
