@use '@angular/material' as mat;
@import "~@angular/material/theming";

.mat-drawer-container {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .second-row {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    .menu-image {
      max-width: 50px;
    }

    span {
      white-space: normal;
      font-size: 60%;
      line-height: 1.2;
      max-width: 200px;
      padding-left: 1rem;
    }
  }

  .layout {
    height: calc(100vh - calc(100vh - 100%));

    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
  }

  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
    overflow: auto;
  }
  .footer {
    grid-area: footer;
  }
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: $white-87-opacity;
}
