<div class="container">
  @if (user()) {
    <div class="row">
      <div class="col-12 mt-3">
        {{ 'ActivateAccount/Title' | gmessage }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="formGroup" (ngSubmit)="save()">
          <mat-stepper [orientation]="stepperOrientation()" linear #stepper>
            <mat-step [label]="'ActivateAccount/Steps/Welcome/Title' | gmessage">
              <div class="row my-3">
                <p
                  class="text-wrap"
                  [innerHTML]="'ActivateAccount/Steps/Welcome/Description' | gmessage"></p>
              </div>
              <div class="row">
                <div class="col text-end">
                  <button mat-raised-button matStepperNext type="button">
                    {{ 'ActivateAccount/Steps/Welcome/BtnNext' | gmessage }}
                  </button>
                </div>
              </div>
            </mat-step>
            <!-- <mat-step
              [label]="'ActivateAccount/Steps/Contact/Title' | gmessage"
              [stepControl]="formGroup.controls.contact"
              [errorMessage]="'ActivateAccount/Steps/Contact/TitleErrorMessage' | gmessage">
              <div [formGroup]="formGroup.controls.contact" class="mt-3">
                <div class="row">
                  <div class="col-12">
                    <p
                      class="text-wrap"
                      [innerHTML]="'ActivateAccount/Steps/Contact/Description' | gmessage"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-1">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/Email' | gmessage }}</mat-label>
                      <input
                        matInput
                        readonly
                        type="email"
                        [formControl]="formGroup.controls.contact.controls.email" />
                    </mat-form-field>
                  </div>
                  <div class="col-12 mb-3">
                    <mat-checkbox
                      [formControl]="formGroup.controls.contact.controls.emailConfirmed"
                      >{{ 'ActivateAccount/Steps/Contact/EmailConfirmed' | gmessage }}</mat-checkbox
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-1">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/Phone' | gmessage }}</mat-label>
                      <input
                        matInput
                        readonly
                        type="tel"
                        [formControl]="formGroup.controls.contact.controls.phone" />
                    </mat-form-field>
                  </div>
                  <div class="col-12 mb-3">
                    <mat-checkbox
                      [formControl]="formGroup.controls.contact.controls.phoneConfirmed"
                      >{{ 'ActivateAccount/Steps/Contact/PhoneConfirmed' | gmessage }}</mat-checkbox
                    >
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 mb-3"
                    [innerHtml]="'Management/UserForm/RequiredFieldsHint' | gmessage"></div>
                </div>
                <div class="row">
                  <div class="col text-end">
                    <button mat-raised-button matStepperPrevious type="button" class="me-2">
                      {{ 'ActivateAccount/Steps/Contact/BtnBack' | gmessage }}
                    </button>
                    <button
                      mat-raised-button
                      matStepperNext
                      type="button"
                      (click)="formGroup.controls.contact.markAllAsTouched()">
                      {{ 'ActivateAccount/Steps/Contact/BtnNext' | gmessage }}
                    </button>
                  </div>
                </div>
              </div>
            </mat-step> -->
            <mat-step
              [label]="'ActivateAccount/Steps/PersonalInfo/Title' | gmessage"
              [stepControl]="formGroup.controls.personalInfo"
              [errorMessage]="'ActivateAccount/Steps/PersonalInfo/TitleErrorMessage' | gmessage">
              <div [formGroup]="formGroup.controls.personalInfo" class="mt-3">
                <div class="row">
                  <div class="col-12">
                    <p
                      class="text-wrap"
                      [innerHTML]="'ActivateAccount/Steps/PersonalInfo/Description' | gmessage"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/FirstName' | gmessage }}</mat-label>
                      <input
                        matInput
                        required
                        [placeholder]="'Management/UserForm/FirstNamePlaceholder' | gmessage"
                        [formControl]="formGroup.controls.personalInfo.controls.firstName" />
                      @if (formGroup.controls.personalInfo.controls.firstName.errors) {
                        <mat-error>{{
                          'Management/UserForm/FirstNameHint'
                            | gmessage: { maxLength: maxLengths.NAME_MAX_LENGTH }
                        }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/LastName' | gmessage }}</mat-label>
                      <input
                        matInput
                        required
                        [placeholder]="'Management/UserForm/LastNamePlaceholder' | gmessage"
                        [formControl]="formGroup.controls.personalInfo.controls.lastName" />
                      @if (formGroup.controls.personalInfo.controls.lastName.errors) {
                        <mat-error>{{
                          'Management/UserForm/LastNameHint'
                            | gmessage: { maxLength: maxLengths.NAME_MAX_LENGTH }
                        }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-1">
                    {{ 'ActivateAccount/Steps/PersonalInfo/OptionalFieldsHint' | gmessage }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/JoiningDate' | gmessage }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        [placeholder]="'Management/UserForm/JoiningDatePlaceholder' | gmessage"
                        [formControl]="formGroup.controls.personalInfo.controls.joiningDate" />
                      @if (formGroup.controls.personalInfo.controls.joiningDate.errors) {
                        <mat-error>{{
                          'Management/UserForm/JoiningDateHint' | gmessage
                        }}</mat-error>
                      }
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-end">
                    <button mat-raised-button matStepperPrevious type="button" class="me-2">
                      {{ 'ActivateAccount/Steps/PersonalInfo/BtnBack' | gmessage }}
                    </button>
                    <button
                      mat-raised-button
                      matStepperNext
                      type="button"
                      (click)="formGroup.controls.personalInfo.markAllAsTouched()">
                      {{ 'ActivateAccount/Steps/PersonalInfo/BtnNext' | gmessage }}
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step
              [label]="'ActivateAccount/Steps/Authentication/Title' | gmessage"
              [stepControl]="formGroup.controls.authentication"
              [errorMessage]="'ActivateAccount/Steps/Authentication/TitleErrorMessage' | gmessage">
              <div [formGroup]="formGroup.controls.authentication" class="mt-3">
                <div class="row">
                  <div class="col-12">
                    <p
                      class="text-wrap"
                      [innerHTML]="
                        'ActivateAccount/Steps/Authentication/Description' | gmessage
                      "></p>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-12 col-lg-6">
                    <mat-form-field class="w-100">
                      <mat-label>{{
                        'ActivateAccount/Steps/Authentication/AuthenticationType' | gmessage
                      }}</mat-label>
                      <mat-select
                        [(value)]="selectedAuthenticationType"
                        [formControl]="
                          formGroup.controls.authentication.controls.authenticationType
                        ">
                        <mat-option [value]="AuthenticationTypes.Password"
                          ><mat-icon>password</mat-icon
                          >{{
                            'ActivateAccount/Steps/Authentication/AuthenticationTypes/Password'
                              | gmessage
                          }}</mat-option
                        >
                        <mat-option [value]="AuthenticationTypes.Pin"
                          ><mat-icon>pin</mat-icon
                          >{{
                            'ActivateAccount/Steps/Authentication/AuthenticationTypes/Pin'
                              | gmessage
                          }}</mat-option
                        >
                      </mat-select>
                      @if (formGroup.controls.authentication.controls.authenticationType.errors) {
                        <mat-error>{{
                          'ActivateAccount/Steps/Authentication/AuthenticationTypeHint' | gmessage
                        }}</mat-error>
                      }

                      @if (this.selectedAuthenticationType() === AuthenticationTypes.Password) {
                        <mat-hint
                          [innerHtml]="
                            'ActivateAccount/Steps/Authentication/ChangePasswordHint' | gmessage
                          "></mat-hint>
                      } @else if (this.selectedAuthenticationType() === AuthenticationTypes.Pin) {
                        <mat-hint
                          [innerHtml]="
                            'ActivateAccount/Steps/Authentication/ChangePinHint' | gmessage
                          "></mat-hint>
                      }
                    </mat-form-field>
                  </div>
                </div>

                @if (this.selectedAuthenticationType() === AuthenticationTypes.Password) {
                  <app-reset-password-control
                    class="row mb-3"
                    [formGroup]="formGroup.controls.authentication">
                  </app-reset-password-control>
                } @else if (this.selectedAuthenticationType() === AuthenticationTypes.Pin) {
                  <app-reset-pin-control
                    class="row mb-3"
                    [formGroup]="formGroup.controls.authentication">
                  </app-reset-pin-control>
                }
                <div class="row">
                  <div class="col text-end">
                    <button mat-raised-button matStepperPrevious type="button" class="me-2">
                      {{ 'ActivateAccount/Steps/Authentication/BtnBack' | gmessage }}
                    </button>
                    <button
                      mat-raised-button
                      matStepperNext
                      type="button"
                      (click)="formGroup.controls.authentication.markAllAsTouched()">
                      {{ 'ActivateAccount/Steps/Authentication/BtnNext' | gmessage }}
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step [label]="'ActivateAccount/Steps/Finish/Title' | gmessage">
              <div class="row mt-3">
                <p
                  class="text-wrap"
                  [innerHTML]="'ActivateAccount/Steps/Finish/Description' | gmessage"></p>
              </div>
              <div class="row">
                <div class="col text-end">
                  <button mat-raised-button matStepperPrevious type="button" class="me-2 mt-3">
                    {{ 'ActivateAccount/Steps/Finish/BtnBack' | gmessage }}
                  </button>
                  <button mat-raised-button type="submit" class="me-2 mt-3">
                    {{ 'ActivateAccount/Steps/Finish/BtnFinish' | gmessage }}
                  </button>
                </div>
              </div>
            </mat-step>
          </mat-stepper>
        </form>
      </div>
    </div>
  }
</div>
