<div class="container">
  @if (user()) {
    <div class="row">
      <div class="col-12 mt-3">
        {{ 'ActivateAccount/Title' | gmessage }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="formGroup" (ngSubmit)="save()">
          <mat-stepper [orientation]="stepperOrientation()" linear #stepper>
            <mat-step [label]="'ActivateAccount/Steps/Welcome/Title' | gmessage">
              <div class="row my-3">
                <p
                  class="text-wrap"
                  [innerHTML]="'ActivateAccount/Steps/Welcome/Description' | gmessage"></p>
              </div>
              <div class="row">
                <div class="col text-end">
                  <button mat-raised-button matStepperNext type="button">
                    {{ 'ActivateAccount/Steps/Welcome/BtnNext' | gmessage }}
                  </button>
                </div>
              </div>
            </mat-step>
            <mat-step
              [label]="'ActivateAccount/Steps/Identity/Title' | gmessage"
              [stepControl]="group(formGroupNames.identity)"
              [errorMessage]="'ActivateAccount/Steps/Identity/TitleErrorMessage' | gmessage">
              <div [formGroupName]="formGroupNames.identity" class="mt-3">
                <div class="row">
                  <div class="col-12">
                    <p
                      class="text-wrap"
                      [innerHTML]="'ActivateAccount/Steps/Identity/Description' | gmessage"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-1">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/Email' | gmessage }}</mat-label>
                      <input
                        matInput
                        readonly
                        type="email"
                        [formControlName]="identityFormGroupControlNames.email" />
                    </mat-form-field>
                  </div>
                  <div class="col-12 mb-3">
                    <mat-checkbox
                      [formControlName]="identityFormGroupControlNames.emailConfirmed"
                      >{{
                        'ActivateAccount/Steps/Identity/EmailConfirmed' | gmessage
                      }}</mat-checkbox
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-1">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/Phone' | gmessage }}</mat-label>
                      <input
                        matInput
                        readonly
                        type="tel"
                        [formControlName]="identityFormGroupControlNames.phone" />
                    </mat-form-field>
                  </div>
                  <div class="col-12 mb-3">
                    <mat-checkbox
                      [formControlName]="identityFormGroupControlNames.phoneConfirmed"
                      >{{
                        'ActivateAccount/Steps/Identity/PhoneConfirmed' | gmessage
                      }}</mat-checkbox
                    >
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 mb-3"
                    [innerHtml]="'Management/UserForm/RequiredFieldsHint' | gmessage"></div>
                </div>
                <div class="row">
                  <div class="col text-end">
                    <button mat-raised-button matStepperPrevious type="button" class="me-2">
                      {{ 'ActivateAccount/Steps/Identity/BtnBack' | gmessage }}
                    </button>
                    <button mat-raised-button matStepperNext type="button">
                      {{ 'ActivateAccount/Steps/Identity/BtnNext' | gmessage }}
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step
              [label]="'ActivateAccount/Steps/UserInfo/Title' | gmessage"
              [stepControl]="group(formGroupNames.userInfo)"
              [errorMessage]="'ActivateAccount/Steps/UserInfo/TitleErrorMessage' | gmessage">
              <div [formGroupName]="formGroupNames.userInfo" class="mt-3">
                <div class="row">
                  <div class="col-12">
                    <p
                      class="text-wrap"
                      [innerHTML]="'ActivateAccount/Steps/UserInfo/Description' | gmessage"></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/FirstName' | gmessage }}</mat-label>
                      <input
                        matInput
                        [placeholder]="'Management/UserForm/FirstNamePlaceholder' | gmessage"
                        [formControlName]="userInfoFormGroupControlNames.firstName" />
                      @if (
                        group(formGroupNames.userInfo).controls[
                          userInfoFormGroupControlNames.firstName
                        ].errors
                      ) {
                        <mat-error>{{
                          'Management/UserForm/FirstNameHint'
                            | gmessage: { maxLength: maxLengths.NAME_MAX_LENGTH }
                        }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/LastName' | gmessage }}</mat-label>
                      <input
                        matInput
                        [placeholder]="'Management/UserForm/LastNamePlaceholder' | gmessage"
                        [formControlName]="userInfoFormGroupControlNames.lastName" />
                      @if (
                        group(formGroupNames.userInfo).controls[
                          userInfoFormGroupControlNames.lastName
                        ].errors
                      ) {
                        <mat-error>{{
                          'Management/UserForm/LastNameHint'
                            | gmessage: { maxLength: maxLengths.NAME_MAX_LENGTH }
                        }}</mat-error>
                      }
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-1">
                    {{ 'ActivateAccount/Steps/UserInfo/OptionalFieldsHint' | gmessage }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'Management/UserForm/JoiningDate' | gmessage }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        [placeholder]="'Management/UserForm/JoiningDatePlaceholder' | gmessage"
                        [formControlName]="userInfoFormGroupControlNames.joiningDate" />
                      @if (
                        group(formGroupNames.userInfo).controls[
                          userInfoFormGroupControlNames.joiningDate
                        ].errors
                      ) {
                        <mat-error>{{ 'Management/UserForm/JoiningDateHint' }}</mat-error>
                      }
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-end">
                    <button mat-raised-button matStepperPrevious type="button" class="me-2">
                      {{ 'ActivateAccount/Steps/Identity/BtnBack' | gmessage }}
                    </button>
                    <button mat-raised-button matStepperNext type="button">
                      {{ 'ActivateAccount/Steps/Identity/BtnNext' | gmessage }}
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step
              [label]="'ActivateAccount/Steps/SetPassword/Title' | gmessage"
              [stepControl]="group(formGroupNames.setPassword)"
              [errorMessage]="'ActivateAccount/Steps/SetPassword/TitleErrorMessage' | gmessage">
              <div [formGroupName]="formGroupNames.setPassword" class="mt-3">
                <div class="row">
                  <div class="col-12">
                    <p
                      class="text-wrap"
                      [innerHTML]="'ActivateAccount/Steps/SetPassword/Description' | gmessage"></p>
                  </div>
                </div>
                <div class="row mb-3">
                  <app-reset-password-control [formGroup]="group(formGroupNames.setPassword)">
                  </app-reset-password-control>
                </div>
                <div class="row">
                  <div class="col text-end">
                    <button mat-raised-button matStepperPrevious type="button" class="me-2">
                      {{ 'ActivateAccount/Steps/SetPassword/BtnBack' | gmessage }}
                    </button>
                    <button mat-raised-button matStepperNext type="button">
                      {{ 'ActivateAccount/Steps/SetPassword/BtnNext' | gmessage }}
                    </button>
                  </div>
                </div>
              </div>
            </mat-step>
            <mat-step [label]="'ActivateAccount/Steps/Finish/Title' | gmessage">
              <div class="row my-3">
                <p
                  class="text-wrap"
                  [innerHTML]="'ActivateAccount/Steps/Finish/Description' | gmessage"></p>
              </div>
              <div class="row">
                <div class="col text-end">
                  <button mat-raised-button matStepperPrevious type="button" class="me-2">
                    {{ 'ActivateAccount/Steps/SetPassword/BtnBack' | gmessage }}
                  </button>
                  <button mat-raised-button type="submit">
                    {{ 'ActivateAccount/Steps/Finish/BtnFinish' | gmessage }}
                  </button>
                </div>
              </div>
            </mat-step>
          </mat-stepper>
        </form>
      </div>
    </div>
  }
</div>
