.mobile-wysiwyg-editor-dialog,
.desktop-wysiwyg-editor-dialog {
  --mat-mdc-dialog-content-padding: 0.25rem;
  --mat-mdc-dialog-surface-border-radius: 0.25rem;

  .mat-mdc-dialog-container-with-actions {
    .mat-mdc-dialog-surface {
      border-radius: var(--mat-mdc-dialog-surface-border-radius);

      .mat-mdc-dialog-component-host {
        .mat-mdc-dialog-content {
          padding: var(--mat-mdc-dialog-content-padding);
          padding-bottom: 0;
        }
      }
    }
  }
}

.mobile-wysiwyg-editor-dialog.full-size-dialog {
  --mat-mdc-dialog-actions-height: 5rem;
  --mat-mdc-dialog-margin: 5px; //this margin is set in dialog.service.ts

  .mat-mdc-dialog-container-with-actions {
    height: calc(var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2);
    width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);

    .mat-mdc-dialog-component-host {
      height: calc(var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2);
      width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);

      .mat-mdc-dialog-content {
        height: calc(
          var(--main-container-height) - var(--mat-mdc-dialog-margin) *
            2 - var(--mat-mdc-dialog-actions-height)
        );
        max-height: calc(
          var(--main-container-height) - var(--mat-mdc-dialog-margin) *
            2 - var(--mat-mdc-dialog-actions-height)
        );
        width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);
        max-width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);

        app-wysiwyg-editor {
          width: calc(
            var(--main-container-width) - var(--mat-mdc-dialog-margin) *
              2 - var(--mat-mdc-dialog-content-padding) * 2
          );
          height: calc(
            var(--main-container-height) - var(--mat-mdc-dialog-margin) *
              2 - var(--mat-mdc-dialog-content-padding) - var(--mat-mdc-dialog-actions-height)
          );
          display: block;

          quill-editor {
            height: calc(
              var(--main-container-height) - var(--mat-mdc-dialog-margin) *
                2 - var(--mat-mdc-dialog-content-padding) - var(--mat-mdc-dialog-actions-height)
            );
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto 1fr;
          }
        }
      }
    }

    .mat-mdc-dialog-actions {
      height: var(--mat-mdc-dialog-actions-height);
    }
  }
}

.desktop-wysiwyg-editor-dialog.full-size-dialog {
  --mat-mdc-dialog-actions-height: 5rem;
  --mat-mdc-dialog-margin-x: calc(var(--main-container-width) * 0.2);
  --mat-mdc-dialog-margin-y: calc(
    var(--main-container-height) * 0.1
  ); //this margin is set in dialog.service.ts

  .mat-mdc-dialog-container-with-actions {
    height: calc(var(--main-container-height) - var(--mat-mdc-dialog-margin-y) * 2);
    width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin-x) * 2);

    .mat-mdc-dialog-component-host {
      height: calc(var(--main-container-height) - var(--mat-mdc-dialog-margin-y) * 2);
      width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin-x) * 2);

      .mat-mdc-dialog-content {
        height: calc(
          var(--main-container-height) - var(--mat-mdc-dialog-margin-y) *
            2 - var(--mat-mdc-dialog-actions-height)
        );
        max-height: calc(
          var(--main-container-height) - var(--mat-mdc-dialog-margin-y) *
            2 - var(--mat-mdc-dialog-actions-height)
        );
        width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin-x) * 2);
        max-width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin-x) * 2);

        app-wysiwyg-editor {
          width: calc(
            var(--main-container-width) - var(--mat-mdc-dialog-margin-x) *
              2 - var(--mat-mdc-dialog-content-padding) * 2
          );
          height: calc(
            var(--main-container-height) - var(--mat-mdc-dialog-margin-y) *
              2 - var(--mat-mdc-dialog-content-padding) - var(--mat-mdc-dialog-actions-height)
          );
          display: block;

          quill-editor {
            height: calc(
              var(--main-container-height) - var(--mat-mdc-dialog-margin-y) *
                2 - var(--mat-mdc-dialog-content-padding) - var(--mat-mdc-dialog-actions-height)
            );
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto 1fr;
          }
        }
      }
    }

    .mat-mdc-dialog-actions {
      height: var(--mat-mdc-dialog-actions-height);
    }
  }
}

.ql-snow .ql-icon-picker .ql-picker-label {
  padding-top: 0;
  top: -2px;
}

.ql-container {
  font-size: 1rem;
  overflow: auto;
}

.ql-editor {
  p {
    margin: 0;
    padding: 0;
  }

  &.ql-blank::before {
    color: var(--mat-sys-on-surface);
    opacity: 0.4;
  }

  &.ql-blank:focus::before {
    content: '';
  }
}

.theme-dark {
  .ql-editor.ql-blank::before {
    color: var(--mat-sys-on-surface);
  }
  .ql-snow .ql-stroke {
    stroke: var(--mat-sys-on-surface);
  }
  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
    fill: var(--mat-sys-on-surface);
  }
  .ql-snow .ql-editor blockquote {
    border-left: 4px solid #ccc;
  }
  .ql-snow .ql-editor code,
  .ql-snow .ql-editor pre {
    background-color: #f0f0f0;
  }
  .ql-snow .ql-editor pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
  }
  .ql-snow .ql-picker {
    color: #444;
  }
  .ql-snow .ql-picker-label {
    color: var(--mat-sys-on-surface);
  }
  .ql-snow .ql-picker-options {
    background-color: #fff;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-label {
    color: #ccc;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
    fill: #ccc;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
    stroke: #ccc;
  }
  .ql-snow .ql-color-picker.ql-background .ql-picker-item {
    background-color: #fff;
  }
  .ql-snow .ql-color-picker.ql-color .ql-picker-item {
    background-color: #000;
  }
  .ql-toolbar.ql-snow {
    border: 1px solid #ccc;
  }
  .ql-toolbar.ql-snow .ql-picker-options {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border-color: #ccc;
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #ccc;
  }
  .ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
  .ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
    border-color: #000;
  }
  .ql-snow .ql-tooltip {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ddd;
    color: #444;
  }
  .ql-snow .ql-tooltip input[type='text'] {
    border: 1px solid #ccc;
  }
  .ql-snow .ql-tooltip a.ql-action::after {
    border-right: 1px solid #ccc;
  }
  .ql-snow a {
    color: #06c;
  }
  .ql-container.ql-snow {
    border: 1px solid #ccc;
  }
}

.ql-editor-preview {
  p {
    margin: 0;
    padding: 0;

    &:after {
      content: '';
      display: inline-block;
    }

    .ql-size-small {
      font-size: 0.75rem;
    }

    .ql-size-large {
      font-size: 1.5rem;
    }

    .ql-size-huge {
      font-size: 2.5rem;
    }

    &.ql-align-right {
      text-align: right;
    }
  }

  pre {
    margin: 0.25rem 0;
  }

  &.ql-blank::before {
    color: var(--mat-sys-on-surface);
    opacity: 0.4;
  }

  &.ql-blank:focus::before {
    content: '';
  }

  ol,
  ul {
    margin-bottom: 0;
  }

  li {
    list-style-type: unset;
    padding-left: 0.25rem;
  }
}
