<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    [matSortActive]="sortActiveColumnName()"
    matSortDisableClear
    [matSortDirection]="sortActiveColumnDirection()"
    multiTemplateDataRows>
    @for (column of visibleColumns(); track column) {
      @if (column.isExpandable) {
        <ng-container [matColumnDef]="column.propertyName" stickyEnd>
          <th
            mat-header-cell
            *matHeaderCellDef
            [attr.aria-label]="'Grid/ExpandRowAriaLabel' | gmessage"
            [ngClass]="{ 'col-expandable': column.isExpandable, 'col-actions': column.isActions }">
            &nbsp;
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{ 'col-expandable': column.isExpandable, 'col-actions': column.isActions }">
            <button
              mat-icon-button
              type="button"
              [attr.aria-label]="'Grid/ExpandBtnAriaLabel' | gmessage"
              (click)="
                expandedElement = isExpanded(element) ? null : element; $event.stopPropagation()
              ">
              @if (isExpanded(element)) {
                <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
                <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
            @if (column.isActions) {
              @if (isMobile) {
                <button
                  mat-icon-button
                  [attr.aria-label]="'Grid/ActionsRowAriaLabel' | gmessage"
                  type="button"
                  (click)="showBottomSheet(element); $event.stopPropagation()">
                  <mat-icon>more_vert</mat-icon>
                </button>
              } @else {
                <button
                  mat-icon-button
                  [attr.aria-label]="'Grid/ActionsRowAriaLabel' | gmessage"
                  [matMenuTriggerFor]="rowMenu"
                  type="button"
                  (click)="refreshMenuItems(element)">
                  <mat-icon>more_vert</mat-icon>
                </button>
              }
            }
          </td>
        </ng-container>
      } @else if (column.isActions && !column.isExpandable) {
        <ng-container [matColumnDef]="column.propertyName" stickyEnd>
          <th
            mat-header-cell
            *matHeaderCellDef
            [attr.aria-label]="'Grid/ActionsRowAriaLabel' | gmessage"
            [ngClass]="{ 'col-actions': column.isActions }">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{ 'col-actions': column.isActions }">
            @if (isMobile) {
              <button
                mat-icon-button
                [attr.aria-label]="'Grid/ActionsRowAriaLabel' | gmessage"
                type="button"
                (click)="showBottomSheet(element); $event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>
            } @else {
              <button
                mat-icon-button
                [attr.aria-label]="'Grid/ActionsRowAriaLabel' | gmessage"
                [matMenuTriggerFor]="rowMenu"
                type="button"
                (click)="refreshMenuItems(element)">
                <mat-icon>more_vert</mat-icon>
              </button>
            }
          </td>
        </ng-container>
      } @else {
        <ng-container [matColumnDef]="column.propertyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.title }}
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            [class]="
              column?.calcColumnCssClass ? column?.calcColumnCssClass(row[column.propertyName]) : ''
            ">
            @switch (column.type) {
              @case (ColumnType.Date) {
                {{ row[column.propertyName] | gdate }}
              }
              @case (ColumnType.DateEgo) {
                {{ row[column.propertyName] | gdateAgo }}
              }
              @case (ColumnType.DateTime) {
                {{ row[column.propertyName] | gdatetime }}
              }
              @case (ColumnType.Number) {
                {{ row[column.propertyName] | gnumber }}
              }
              @case (ColumnType.Time) {
                {{ row[column.propertyName] | gtime }}
              }
              @case (ColumnType.MatIcon) {
                <mat-icon>{{ column?.transform(row[column.propertyName]) }}</mat-icon>
              }
              @default {
                @if (column.transform) {
                  {{ column.transform(row[column.propertyName]) }}
                } @else {
                  {{ row[column.propertyName] }}
                }
              }
            }
          </td>
        </ng-container>
      }
    } @empty {
      <p>{{ 'Grid/NoColumns' | gmessage }}</p>
    }

    @if (showExpandableColumn()) {
      <ng-container matColumnDef="itemDetails">
        <td mat-cell *matCellDef="let element" [attr.colspan]="visibleColumnNames().length">
          <div
            class="element-details"
            [@detailExpand]="isExpanded(element) ? 'expanded' : 'collapsed'">
            @if (itemTemplate) {
              <ng-container
                [ngTemplateOutlet]="itemTemplate"
                [ngTemplateOutletContext]="{ $implicit: element, isExpanded: isExpanded(element) }">
              </ng-container>
            } @else {
              <span>no details template</span>
            }
          </div>
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="visibleColumnNames(); sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; let even = even; let odd = odd; columns: visibleColumnNames()"
      class="item-row"
      [ngClass]="{ 'odd-row': odd, 'even-row': even }"></tr>

    @if (showExpandableColumn()) {
      <tr mat-row *matRowDef="let row; columns: ['itemDetails']" class="item-details-row"></tr>
    }

    @if (itemsTotalCount() === 0) {
      <tr *matNoDataRow>
        <td class="p-1 text-center" [attr.colspan]="visibleColumnNames().length">
          {{ 'Grid/NoData' | gmessage }}
        </td>
      </tr>
    }
  </table>
</div>

<mat-paginator
  [length]="itemsTotalCount()"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [showFirstLastButtons]="true"
  [hidePageSize]="true"
  [attr.aria-label]="'Paginator/AriaLabel' | gmessage"></mat-paginator>

<mat-menu #rowMenu="matMenu">
  <ng-template matMenuContent let-element="element">
    @for (menuItem of menuItems(); track menuItem) {
      <button mat-menu-item type="button" (click)="menuItemClick($event, menuItem)">
        @if (menuItem.icon) {
          <mat-icon matListItemIcon>{{ menuItem.icon }}</mat-icon>
        }
        @if (menuItem.title) {
          <span matListItemTitle>{{ menuItem.title }}</span>
        }
      </button>
    }
  </ng-template>
</mat-menu>
