<div [formGroup]="formGroup()">
  <div class="row mb-2">
    <mat-form-field>
      <mat-label>{{ 'ResetPassword/Password' | gmessage }}</mat-label>
      <input
        matInput
        [type]="hidePassword() ? 'password' : 'text'"
        [placeholder]="'ResetPassword/PasswordPlaceholder' | gmessage"
        [formControl]="formGroup().controls.password" />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="'ResetPassword/HidePasswordAriaLabel' | gmessage"
        [attr.aria-pressed]="hidePassword()"
        type="button"
        tabindex="-1">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (getControlErrors(formGroup().controls.password)[errorNames.required]) {
        <mat-error>{{ 'ResetPassword/PasswordRequiredError' | gmessage }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field>
      <mat-label>{{ 'ResetPassword/ConfirmPassword' | gmessage }}</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword() ? 'password' : 'text'"
        [placeholder]="'ResetPassword/ConfirmPasswordPlaceholder' | gmessage"
        [formControl]="formGroup().controls.confirmPassword" />
      <button
        mat-icon-button
        matSuffix
        (click)="toggleConfirmPasswordVisibility($event)"
        [attr.aria-label]="'ResetPassword/HidePasswordAriaLabel' | gmessage"
        [attr.aria-pressed]="hideConfirmPassword()"
        type="button"
        tabindex="-1">
        <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (getControlErrors(formGroup().controls.confirmPassword)[errorNames.required]) {
        <mat-error>{{ 'ResetPassword/ConfirmPasswordRequiredError' | gmessage }}</mat-error>
      } @else if (getControlErrors(formGroup().controls.confirmPassword)[errorNames.minLength]) {
        <mat-error>{{ 'ResetPassword/PasswordNotEnoughStrongError' | gmessage }}</mat-error>
      } @else if (getControlErrors(formGroup().controls.confirmPassword)[errorNames.maxLength]) {
        <mat-error>{{ 'ResetPassword/PasswordTooLongError' | gmessage }}</mat-error>
      } @else if (
        getControlErrors(formGroup().controls.confirmPassword)[errorNames.invalidPassword]
      ) {
        <mat-error>{{ 'ResetPassword/PasswordNotEnoughStrongError' | gmessage }}</mat-error>
      }
    </mat-form-field>
    <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-subscript-dynamic-size">
      <div class="mat-mdc-form-field-error-wrapper">
        @if (getFormGroupErrors()[errorNames.notEqual]) {
          <mat-error>{{ 'ResetPassword/ConfirmPasswordMismatchError' | gmessage }}</mat-error>
        }
      </div>
    </div>
  </div>
</div>
