<p>Przykładowe wprowadzenia do biuletynu:</p>
<hr />
<p>
  Kochani!<br />
  Kontynuujemy nasze rekolekcje oddania się w niewolę Maryi. Towarzyszą nam dalej teksty z
  ocalenie.info<br />
  <br />
  Na owocną pracę, błogosławię +<br />
  ks. Damian, Pasterz<br />
</p>
<hr />
<p>
  Kochani!<br />
  Na ten moment chciałbym, abyśmy podjęli formację krokami św. Ignacego z Loyoli. Przed nami różne
  maksymy jego życia, któremu towarzyszyć będą różne komentarze.<br />
  <br />
  Na owocną pracę, błogosławię +<br />
  Oddaję każdego z Was w rany Chrystusa i Jego Krew, oraz zamykam w Sercu Maryi.<br />
  ks. Damian, Pasterz
</p>
<hr />
<p>
  Kroczymy drogą Ewangelia św. Mateusza.<br />
  Pamiętajmy o pracy własnej na podstawie pytań i zapisywaniu w zeszycie odpowiedzi.<br />
  <br />
  Na owocną pracę, błogosławię +<br />
  Oddaję każdego z Was w rany Chrystusa i Jego Krew, oraz zamykam w Sercu Maryi.<br />
  ks. Damian, Pasterz
</p>
<hr />
<p>
  Kochani!<br />
  Przed nami czas świąt Wielkanocnych. Czas, w którym nasze wspólne spotkania nie będą się
  odbywały.<br />
  Czas świąt to czas refleksji nad Męką, Śmiercią i Zmartwychwstaniem Jezusa. Do tego przygotowywał
  nas w tym roku św. Mateusz. Mam nadzieję, że każdy z nas dobrze wykorzystał ten czas formacji.
  Korzystajmy teraz z formacji w naszych parafiach: piękna Liturgii, możliwości Adoracji i wspólnej
  celebracji Świąt.<br />
  Jest to także czas odpoczynku i przeznaczony na to, aby nacieszyć się swoją rodziną i relacjami.
  Taki czas w którym mamy więcej czasu poświęcić im. Nie zaniedbujcie ich, ale pokażcie piękno
  waszego serca, które kształtuje Jezus w Duchu Świętym razem z Maryją na naszej wspólnocie i
  podczas pracy osobistej.<br />
  Życzę Wam, żeby ten czas świąt był czasem odpoczynku dla Was i Waszych rodzin. Z serca na ten czas
  błogosławię, życząc abyście Wy i Wasze rodziny, Wasi bliscy, znajomi i przyjaciele doświadczali
  życia w Jezusie, które jest większe niż śmierć +<br />
  <br />ks. Damian, Pasterz
</p>
