.card.card-with-grid {
  height: 100%;

  .d-grid-with-header {
    main {
      .content-container {
        .table-container {
          overflow: auto;

          tr,
          th {
            &.col-expandable.col-actions {
              min-width: 7rem;
            }
          }

          tr.item-row {
            td {
              border-bottom: 0;
            }
          }

          tr.item-details-row {
            height: 0;
          }

          td.mat-column-itemDetails {
            padding: 0;
          }
        }
      }
    }
  }
}
