@if (isTokenValid() === true) {
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-12 fw-bold mt-3">
        {{ 'ResetPassword/ChangePasswordTitle' | gmessage }}
      </div>
      <div
        class="col-12 my-3"
        [innerHtml]="
          'ResetPassword/ChangePasswordDescription' | gmessage: { email: userEmail() }
        "></div>
      <div class="col-12">
        <div
          class="alert alert-light"
          role="alert"
          [innerHtml]="'ResetPassword/ChangePasswordHint' | gmessage"></div>
      </div>
    </div>
    <app-reset-password-control class="row mb-3" [formGroup]="formGroup">
    </app-reset-password-control>
    <div class="row mb-4">
      <div class="col text-end">
        <button mat-raised-button color="primary" [disabled]="!formGroup.valid" (click)="save()">
          {{ 'ResetPassword/ChangePassword' | gmessage }}
        </button>
      </div>
    </div>
  </form>
} @else {
  <app-invalid-reset-password-token></app-invalid-reset-password-token>
}
