<p>Przykładowe modlitwy na każdy dzień pracy z biuletynem:</p>
<hr />
<p>
  <strong>Przed rozpoczęciem rozważania</strong><br />
  Wycisz swój umysł i swoje serce. Duchowe wyciszenie jest naszą otwartością na łaskę. Modlitwę do
  Ducha Świętego postaraj się odmówić spokojnie i powoli, wczuwając się sercem w każde ze zdań.<br />
  <br />
  <strong>Modlitwa do Ducha Świętego</strong><br />
  Duchu Święty przyjdź,<br />
  Oświeć mrok umysłu,<br />
  porusz moje serce,<br />
  pokaż drogę do Jezusa,<br />
  pomóż pełnić wolę Ojca,<br />
  Duchu Święty przyjdź.<br />
  Maryjo, któraś najpełniej<br />
  przyjęła Słowo Boże,<br />
  prowadź mnie.<br />
  Duchu Święty, przyjdź!
</p>
<hr />
<p>
  Modlitwa powinna potrwać ok. 15 min. Jak przebiegać ma modlitwa?<br />
  1. Stawaj w Bożej obecności, uświadom sobie, że stoisz przed Bogiem.<br />
  2. Poproś o siłę i moc Ducha Świętego - dowolną modlitwą.<br />
  Zaproś do modlitwy Maryję - dowolną modlitwą.<br />
  3. Przeczytaj rozważanie przeznaczone na dany dzień. Cytat z początku rozważania to słowa św.
  Ignacego. O ich realizację w życiu mamy się modlić w ciągu danego dnia.<br />
  4. Zapisz w zeszycie główne zdanie o które się modlimy. Rozmawiaj później z Jezusem na ten
  temat.<br />
  5. W tym celu odmów dobrowolną modlitwę do Ducha Świętego.<br />
  Przypominam, że dalej obowiązuje nas codzienna modlitwa Anioł Pański w intencji wspólnoty oraz
  zachęcam do postu w intencji wspólnoty każdego 12 dnia miesiąca.
</p>
