<div class="card border-0">
  <form [formGroup]="formGroup">
    <div class="d-grid-with-header-and-footer">
      <header class="mat-toolbar">
        <div class="card-header">
          {{ 'Settings/Title' | gmessage }}
        </div>
      </header>
      <main>
        <div class="card-body">
          <div class="row mb-2">
            <mat-label
              class="col-4 col-sm-3 align-self-center"
              for="is-dark-mode-input"
              id="is-dark-mode-input-label"
              >{{ 'Settings/Theme' | gmessage }}</mat-label
            >
            <div class="col-8 col-sm-9 align-self-center">
              {{ 'Settings/LightTheme' | gmessage }}
              <mat-slide-toggle
                #darkModeSwitch
                id="is-dark-mode-input"
                [formControlName]="formControlNames.isDarkMode"
                aria-labelledby="is-dark-mode-input-label"></mat-slide-toggle>
              {{ 'Settings/DarkTheme' | gmessage }}
            </div>
          </div>
          <div class="row mb-2">
            <mat-label
              class="col-4 col-sm-3 align-self-center"
              for="font-size-slider"
              id="font-size-slider-label"
              >{{ 'Settings/FontSize' | gmessage }}</mat-label
            >
            <div class="col-8 col-sm-9 align-self-center">
              <mat-slider
                min="80"
                max="150"
                step="10"
                showTickMarks
                discrete
                [displayWith]="formatFontSizeLabel">
                <input
                  matSliderThumb
                  id="font-size-slider"
                  [formControlName]="formControlNames.fontSize"
                  aria-labelledby="font-size-slider-label" />
              </mat-slider>
            </div>
          </div>
        </div>
      </main>
      @if (showSaveButton()) {
        <footer class="sticky-bottom">
          <div class="card-footer text-body-secondary text-end">
            <button mat-raised-button>{{ 'Shared/BtnSave' | gmessage }}</button>
          </div>
        </footer>
      }
    </div>
  </form>
</div>
