.container-fluid {
  .header {
    display: flex;
    flex-direction: column;

    .header-image {
      align-self: center;
      max-width: 20rem;
      margin: 1rem 0;
    }
  }

  .body {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 1rem;
  }
}
