<div class="container-fluid m-0 p-0">
  <div class="header">
    <img
      class="header-image"
      src="./assets/images/community/community-logo.png"
      alt="{{ 'Shared/Name' | gmessage }}"
      title="{{ 'Shared/Name' | gmessage }}"
    />
  </div>
  <div class="body px-1 mat-app-background">
    <app-community-contact></app-community-contact>
    <mat-tab-group
      #tabGroup
      mat-align-tabs="center"
      animationDuration="250ms"
      [(selectedIndex)]="selectedTab"
      (touchstart)="swipe($event, 'start')"
      (touchend)="swipe($event, 'end')"
    >
      <mat-tab label="{{ 'Community/Meetings/Title' | gmessage }}">
        <app-community-meetings></app-community-meetings>
      </mat-tab>
      <mat-tab label="{{ 'Community/Mission/Title' | gmessage }}">
        <app-community-mission></app-community-mission>
      </mat-tab>
      <mat-tab label="{{ 'Community/Diaconie/Title' | gmessage }}">
        <app-community-diaconie></app-community-diaconie>
      </mat-tab>
      <mat-tab label="{{ 'Community/Structure/Title' | gmessage }}">
        <app-community-structure></app-community-structure>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
