.card {
  height: 100%;

  .d-grid-with-header {
    main {
      .content-container {
        .table-container {
          overflow: auto;

          tr.user-row {
            td {
              border-bottom: 0;
            }
          }

          tr.user-detail-row {
            height: 0;
          }
        }
      }
    }
  }
}
