<div class="card card-with-grid border-0">
  <div class="d-grid-with-header">
    <header class="mat-toolbar">
      <div class="card-header">
        {{ 'Management/UserList/Title' | gmessage }}
      </div>
    </header>
    <main>
      <div class="card-body p-0">
        <div class="content-container">
          <app-grid [itemTemplate]="details"></app-grid>
        </div>
      </div>
    </main>
  </div>
</div>

<ng-template #details let-element>
  <app-user-details [user]="element"> </app-user-details>
</ng-template>
