<div class="card border-0">
  <div class="d-grid-with-header">
    <header class="mat-toolbar" [ngClass]="{ mobile: isMobile }">
      <div class="card-header">{{ 'Bulletin/Header' | gmessage }}</div>
    </header>
    <main>
      <div class="card-body">
        <app-bulletin-views-header></app-bulletin-views-header>
        @switch (view()) {
          @case (BulletinView.Calendar) {
            <app-bulletin-views-calendar></app-bulletin-views-calendar>
          }
        }
      </div>
    </main>
  </div>
</div>
