<div clickable class="announcement-item-row row mb-md-3 alert alert-light mx-0 mb-4">
  <div class="col-12 position-relative">
    <small class="section-title border">{{
      'Announcements/Form/SectionNo' | gmessage: { no: index() + 1 | gnumber }
    }}</small>
  </div>
  <div
    tap
    swipe
    class="col-12"
    (doubleTap)="editItem()"
    (swipeNext)="showOptionsPanel()"
    (swipePrev)="showOptionsPanel()">
    <div class="w-100 pt-md-3 pb-2 pt-4">
      @if (content().length > 0) {
        <app-wysiwyg-preview [content]="content()"></app-wysiwyg-preview>
      } @else {
        <div class="w-100 text-center">
          <span
            class="opacity-70"
            [ngClass]="{
              'mat-mdc-form-field-error': controls()?.content?.errors,
            }"
            >{{ 'Announcements/Form/NoSectionContentMobile' | gmessage }}</span
          >
        </div>
      }
    </div>

    @if (showOptions()) {
      <div class="options-panel">
        <div class="buttons-container px-md-4 px-3">
          <div class="col text-start">
            <button mat-icon-button (click)="moveItemUp()" class="me-2" type="button">
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-icon-button (click)="moveItemDown()" type="button">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
          <div class="col text-center">
            <button mat-icon-button (click)="editItem()" class="me-3" type="button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="confirmDeleteItem()" type="button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="col text-end">
            <button mat-icon-button (click)="hideOptionsPanel()" type="button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    } @else {
      <div class="swipe-animation-container d-none">
        <div class="swipe-animation">
          <div class="hand-icon"></div>
        </div>
      </div>
    }
  </div>
</div>
