<div class="card border-0">
  <div class="d-grid-with-header">
    <header class="mat-toolbar" [ngClass]="{ mobile: isMobile }">
      <div class="card-header">
        {{ title() }}
      </div>
    </header>
    <main>
      <div class="card-body">
        @if (announcements()) {
          <div
            class="row"
            [ngClass]="{ 'mb-3': showButtonAddAnnouncement() || showButtonGoToAnnouncementList() }">
            @if (showButtonAddAnnouncement()) {
              <div class="col-4 col-sm-5 text-center">
                <button mat-raised-button [matMenuTriggerFor]="addMenu">
                  <mat-icon>{{ AddAnnouncementsMenu.Icon }}</mat-icon>
                  <span>{{ 'Shared/BtnAdd' | gmessage }}</span>
                </button>
                <mat-menu #addMenu="matMenu">
                  <button mat-menu-item [routerLink]="['./' + AddAnnouncementsMenu.Route]">
                    <mat-icon>add</mat-icon>
                    <span>{{ 'Announcements/MenuAdd/AddBlank' | gmessage }}</span>
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['./' + AddAnnouncementsMenu.Route + '/' + announcements()?.id]">
                    <mat-icon>content_copy</mat-icon>
                    <span>{{ 'Announcements/MenuAdd/AddByCopy' | gmessage }}</span>
                  </button>
                </mat-menu>
              </div>
            }
            @if (showButtonGoToAnnouncementList()) {
              <div class="col-8 col-sm-7 text-center">
                <button mat-raised-button [routerLink]="['./' + AnnouncementsListMenu.Route]">
                  <mat-icon>{{ AnnouncementsListMenu.Icon }}</mat-icon>
                  <span>{{ AnnouncementsListMenu.Label | gmessage }}</span>
                </button>
              </div>
            }
          </div>
          @for (item of announcements()!.items; track item; let i = $index) {
            <div class="alert alert-light" role="alert">
              <app-wysiwyg-preview [content]="item.content"></app-wysiwyg-preview>
              <div class="row lh-1 mt-2 opacity-50">
                <div class="col d-flex flex-wrap">
                  <div class="text-nowrap">
                    <mat-icon class="fs-8 align-middle">person</mat-icon>
                    <span class="fs-8"
                      >{{ 'Announcements/CreatedBy' | gmessage }} {{ item.getAuthorName() }}&nbsp;
                    </span>
                  </div>
                  <div class="text-nowrap">
                    <mat-icon class="fs-8 align-middle">calendar_month</mat-icon>
                    <span class="fs-8">{{ item.getCreationDateTime() | gdate }} </span>
                    <mat-icon class="fs-8 align-middle">schedule</mat-icon>
                    <span class="fs-8">{{ item.getCreationDateTime() | gtime }}</span>
                  </div>
                </div>
              </div>
            </div>
          }
        } @else {
          @if (showButtonAddAnnouncement()) {
            <div class="row mb-2">
              <div class="col text-center">
                <button mat-raised-button [routerLink]="['./' + AddAnnouncementsMenu.Route]">
                  <mat-icon>{{ AddAnnouncementsMenu.Icon }}</mat-icon>
                  <span>{{ AddAnnouncementsMenu.Label | gmessage }}</span>
                </button>
              </div>
            </div>
          } @else if (showButtonGoToAnnouncementList()) {
            <div class="row mb-2">
              <div class="w-100 text-center">
                <span class="opacity-50">{{
                  'Announcements/NoPublishedAnnouncements' | gmessage
                }}</span>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col text-center">
                <button mat-raised-button [routerLink]="['./' + AnnouncementsListMenu.Route]">
                  <mat-icon>{{ AnnouncementsListMenu.Icon }}</mat-icon>
                  <span>{{ AnnouncementsListMenu.Label | gmessage }}</span>
                </button>
              </div>
            </div>
          } @else {
            <div class="w-100 text-center">
              <span class="opacity-50">{{ 'Announcements/NoAnnouncements' | gmessage }}</span>
            </div>
          }
        }
      </div>
    </main>
  </div>
</div>
