// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

@import "@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
$my-light-primary: mat.define-palette(
  mat.$indigo-palette,
  $default: 500,
  $lighter: A100,
  $darker: 700
);
$my-light-accent: mat.define-palette(mat.$deep-purple-palette, 700, 300, 900);
$my-light-warn: mat.define-palette(mat.$red-palette);

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-light-primary,
      accent: $my-light-accent,
      warn: $my-light-warn,
    ),
  )
);

// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
$my-dark-primary: mat.define-palette(
  mat.$gray-palette,
  $default: 500,
  $lighter: A100,
  $darker: 700
);
$my-dark-accent: mat.define-palette(mat.$light-blue-palette, 700, 300, 900);
$my-dark-warn: mat.define-palette(mat.$red-palette);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-dark-primary,
      accent: $my-dark-accent,
      warn: $my-dark-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.mat-ligh-theme {
  @include angular-material-theme($my-light-theme);
  @include mat.all-component-themes($my-light-theme);

  .primary-color {
    background: mat.get-color-from-palette(
      $my-light-primary,
      "default"
    ) !important;
    color: mat.get-color-from-palette(
      $my-light-primary,
      "default-contrast"
    ) !important;
  }

  .primary-darker-color {
    background: mat.get-color-from-palette(
      $my-light-primary,
      "darker"
    ) !important;
    color: mat.get-color-from-palette(
      $my-light-primary,
      "darker-contrast"
    ) !important;
  }

  .link-color {
    color: mat.get-color-from-palette($my-light-accent, "default") !important;
  }

  .border-color-primary {
    border-color: mat.get-color-from-palette(
      $my-light-primary,
      "default"
    ) !important;
  }

  .calendar-container {
    .cal-month-view,
    .cal-month-view .cal-cell-row.cal-header:hover,
    .cal-month-view .cal-cell-row.cal-header:hover,
    .cal-month-view .cal-cell-row.cal-header .cal-cell:hover,
    .cal-week-view {
      background-color: white !important;
    }

    .cal-month-view {
      .cal-cell-row {
        &:hover {
          background-color: mat.get-color-from-palette(
            $my-dark-primary,
            200
          ) !important;
        }

        .cal-cell {
          &:hover,
          .cal-has-events.cal-open {
            background-color: mat.get-color-from-palette(
              $my-dark-primary,
              400
            ) !important;
          }

          &.cal-day-cell {
            &.cal-today:not(:hover) {
              background-color: mat.get-color-from-palette(
                $my-light-primary,
                100
              ) !important;
            }
          }

          .cal-day-number {
            opacity: 0.75 !important;
          }
        }
      }
    }

    .cal-week-view {
      .cal-day-headers {
        .cal-header:not(.cal-today):hover,
        .cal-drag-over {
          background-color: white;
        }

        .cal-header.cal-today {
          background-color: mat.get-color-from-palette(
            $my-light-primary,
            100
          ) !important;
        }
      }

      .cal-hour-odd {
        background-color: mat.get-color-from-palette(
          $my-dark-primary,
          100
        ) !important;
      }

      .cal-time-events
        .cal-day-columns:not(.cal-resize-active)
        .cal-hour-segment:hover {
        background-color: mat.get-color-from-palette(
          $my-dark-primary,
          400
        ) !important;
      }
    }
  }
}

.mat-dark-theme {
  @include angular-material-theme($my-dark-theme);
  @include mat.all-component-colors($my-dark-theme);

  .primary-color {
    background: mat.get-color-from-palette(
      $my-dark-primary,
      "default"
    ) !important;
    color: mat.get-color-from-palette(
      $my-dark-primary,
      "default-contrast"
    ) !important;
  }

  .primary-darker-color {
    background: mat.get-color-from-palette(
      $my-dark-primary,
      "darker"
    ) !important;
    color: mat.get-color-from-palette(
      $my-dark-primary,
      "darker-contrast"
    ) !important;
  }

  .link-color {
    color: mat.get-color-from-palette($my-dark-accent, "default") !important;
  }

  .border-color-primary {
    border-color: mat.get-color-from-palette(
      $my-dark-primary,
      "default"
    ) !important;
  }

  .calendar-container {
    .cal-month-view,
    .cal-month-view .cal-cell-row.cal-header:hover,
    .cal-month-view .cal-cell-row.cal-header:hover,
    .cal-month-view .cal-cell-row.cal-header .cal-cell:hover,
    .cal-week-view {
      background-color: mat.get-color-from-palette(
        $my-dark-primary,
        800
      ) !important;
    }

    .cal-month-view {
      .cal-cell-row:not(.cal-header) {
        &:hover {
          background-color: mat.get-color-from-palette(
            $my-dark-accent,
            800
          ) !important;
        }

        .cal-cell {
          &:hover,
          .cal-has-events.cal-open {
            background-color: mat.get-color-from-palette(
              $my-dark-accent,
              900
            ) !important;
          }

          &.cal-day-cell {
            .cal-day-number {
              color: mat.get-color-from-palette(
                $my-dark-primary,
                200
              ) !important;
              opacity: 1 !important;
            }

            &.cal-today:not(:hover) {
              background-color: mat.get-color-from-palette(
                $my-dark-primary,
                700
              ) !important;
            }

            &.cal-weekend {
              .cal-day-number {
                color: mat.get-color-from-palette(
                  $my-dark-warn,
                  600
                ) !important;
              }
            }
          }
        }
      }
    }

    .cal-week-view {
      .cal-day-headers {
        .cal-header:not(.cal-today):hover,
        .cal-drag-over {
          background-color: mat.get-color-from-palette(
            $my-dark-primary,
            800
          ) !important;
        }

        .cal-header.cal-today {
          background-color: mat.get-color-from-palette(
            $my-dark-primary,
            700
          ) !important;
        }

        .cal-header.cal-weekend {
          color: mat.get-color-from-palette($my-dark-warn, 600) !important;
          span {
            color: mat.get-color-from-palette($my-dark-warn, 600) !important;
            opacity: 0.9;
          }
        }
      }

      .cal-hour-odd {
        background-color: mat.get-color-from-palette(
          $my-dark-primary,
          900
        ) !important;
      }

      .cal-time-events
        .cal-day-columns:not(.cal-resize-active)
        .cal-hour-segment:hover {
        background-color: mat.get-color-from-palette(
          $my-dark-accent,
          900
        ) !important;
      }
    }
  }
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  &.path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.loader {
  border-width: 6px;
  border-style: solid;
  border-color: mat.get-color-from-palette($my-light-primary, "500");
  border-top-color: mat.get-color-from-palette($my-light-primary, "A700");
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  opacity: 0.7;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mat-tab-label.mat-tab-label-active,
.mat-tab-link.mat-tab-label-active {
  opacity: 1 !important;
}
