/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();
@import 'node_modules/angular-calendar/scss/angular-calendar.scss';

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: -1,
    ),
  )
);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: -1,
    ),
  )
);

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #00b3e6;

  @include mat.all-component-themes($light-theme);

  //override mat variables
  --mat-list-active-indicator-shape: 0.5rem;
  //size of icon in left menu
  --mdc-list-list-item-leading-icon-size: 1.25rem;
  .mdc-list-item--with-leading-icon .mdc-list-item__start {
    width: auto;
    height: auto;
  }
  //padding of dialog header title
  --mat-dialog-headline-padding: 0 0 0.25rem 24px;
  //dialog header font size
  --mdc-dialog-subhead-size: 1.25rem;

  //override bootstrap colors
  --bs-body-bg: #{--mat-app-background-color};
  --bs-body-color: #{--mat-app-text-color};
  --mat-switch-label-text-color: red;
  --bs-border-color: #{mat.get-theme-color($light-theme, primary-container)};
  .card {
    --bs-card-inner-border-radius: 0;
    --bs-card-cap-bg: #{mat.get-theme-color($light-theme, surface-container)};
  }

  //override calendar colors
  @include cal-theme(
    (
      bg-primary: mat.get-theme-color($light-theme, surface),
      bg-secondary: mat.get-theme-color($light-theme, on-secondary),
      weekend-color: mat.get-theme-color($light-theme, error),
      bg-active: mat.get-theme-color($light-theme, secondary-container),
      border-color: mat.get-theme-color($light-theme, primary-container),
      gray: mat.get-theme-color($light-theme, tertiary),
      today-bg: mat.get-theme-color($light-theme, primary-container),
      event-color-primary: mat.get-theme-color($light-theme, primary),
    )
  );

  .bg-color-primary {
    background-color: mat.get-theme-color($light-theme, primary-container);
  }

  .bg-color-secondary {
    background-color: mat.get-theme-color($light-theme, secondary-container);
  }

  .error-container {
    background-color: #{mat.get-theme-color($light-theme, error)};
    color: #{mat.get-theme-color($light-theme, on-error)};
  }

  .mat-mdc-snack-bar-container {
    &.error {
      --mdc-snackbar-container-color: #{mat.get-theme-color($light-theme, error)};
      --mat-snack-bar-button-color: #{mat.get-theme-color($light-theme, error-container)};
      --mdc-snackbar-supporting-text-color: #{mat.get-theme-color($light-theme, on-error)};
    }
    &.success {
      --mdc-snackbar-container-color: #{mat.get-theme-color($light-theme, tertiary-container)};
      --mat-snack-bar-button-color: #{mat.get-theme-color($light-theme, primary)};
      --mdc-snackbar-supporting-text-color: #{mat.get-theme-color(
          $light-theme,
          on-tertiary-container
        )};
    }
  }

  .mat-mdc-table {
    .mat-mdc-header-row {
      background-color: mat.get-theme-color($light-theme, secondary-container);
      color: mat.get-theme-color($light-theme, on-secondary-container);
    }

    .mat-mdc-row {
      &.even-row {
        background-color: mat.get-theme-color($light-theme, surface-container-low);
      }

      &:hover {
        background-color: mat.get-theme-color($light-theme, surface-container);
      }
    }
  }

  &.theme-dark {
    @include mat.all-component-colors($dark-theme);

    //override bootstrap colors
    --bs-border-color: #{mat.get-theme-color($dark-theme, primary-container)};
    .card {
      --bs-card-inner-border-radius: 0;
      --bs-card-cap-bg: #{mat.get-theme-color($dark-theme, surface-container-high)};
    }
    .alert-light {
      --bs-alert-color: #{mat.get-theme-color($dark-theme, secondary)};
      --bs-alert-bg: #{mat.get-theme-color($dark-theme, on-secondary)};
      --bs-alert-border-color: #{mat.get-theme-color($dark-theme, secondary-container)};
      // --bs-alert-link-color: var(--bs-dark-text-emphasis);
    }

    .bg-color-primary {
      background-color: mat.get-theme-color($dark-theme, primary-container);
    }

    .bg-color-secondary {
      background-color: mat.get-theme-color($dark-theme, secondary-container);
    }

    .error-container {
      background-color: #{mat.get-theme-color($dark-theme, error)};
      color: #{mat.get-theme-color($dark-theme, on-error)};
    }

    .mat-mdc-snack-bar-container {
      &.error {
        --mdc-snackbar-container-color: #{mat.get-theme-color($dark-theme, on-error)};
        --mat-snack-bar-button-color: #{mat.get-theme-color($dark-theme, on-error-container)};
        --mdc-snackbar-supporting-text-color: #{mat.get-theme-color($dark-theme, error)};
      }
      &.success {
        --mdc-snackbar-container-color: #{mat.get-theme-color($dark-theme, secondary-container)};
        --mat-snack-bar-button-color: #{mat.get-theme-color($dark-theme, primary)};
        --mdc-snackbar-supporting-text-color: #{mat.get-theme-color(
            $dark-theme,
            on-secondary-container
          )};
      }
    }

    .mat-mdc-table {
      .mat-mdc-header-row {
        background-color: mat.get-theme-color($dark-theme, secondary-container);
        color: mat.get-theme-color($dark-theme, on-secondary-container);
      }

      .mat-mdc-row {
        &.even-row {
          background-color: mat.get-theme-color($dark-theme, surface-container);
        }

        &:hover {
          background-color: mat.get-theme-color($dark-theme, surface-container-high);
        }
      }
    }

    //override calendar colors
    @include cal-theme(
      (
        bg-primary: mat.get-theme-color($dark-theme, surface),
        bg-secondary: mat.get-theme-color($dark-theme, on-secondary),
        weekend-color: mat.get-theme-color($dark-theme, error),
        bg-active: mat.get-theme-color($dark-theme, secondary-container),
        border-color: mat.get-theme-color($dark-theme, primary-container),
        gray: mat.get-theme-color($dark-theme, tertiary),
        today-bg: mat.get-theme-color($dark-theme, primary-container),
        event-color-primary: mat.get-theme-color($dark-theme, primary-container),
      )
    );

    .swipe-animation {
      .hand-icon {
        background-image: url('/images/hand-white.png');
      }
    }
  }

  --mat-sidenav-container-width: 300px;
}

.d-grid-with-header-and-footer {
  height: calc(
    var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
        --mat-toolbar-standard-height
      ) * var(--is-mobile) * var(--footer-is-visible)
  );
  @media (max-width: 599px) {
    height: calc(
      var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
          --mat-toolbar-mobile-height
        ) * var(--is-mobile) * var(--footer-is-visible)
    );
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  header {
    grid-area: header;
    height: calc(
      var(--bs-card-cap-padding-y) * 2 + var(--mat-toolbar-title-text-line-height) +
        var(--bs-card-border-width)
    );
    &.mobile {
      width: var(--main-container-width);
    }

    .card-header {
      height: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  main {
    grid-area: main;
    height: 100%;
    overflow: auto;

    height: calc(
      var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
          --mat-toolbar-standard-height
        ) * var(--is-mobile) * var(--footer-is-visible) - var(--bs-card-cap-padding-y) * 2 - var(
          --mat-toolbar-title-text-line-height
        ) - var(--bs-card-border-width) - var(--mat-toolbar-mobile-height) - var(
          --bs-card-border-width
        )
    );
    @media (max-width: 599px) {
      height: calc(
        var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
            --mat-toolbar-mobile-height
          ) * var(--is-mobile) * var(--footer-is-visible) - var(--bs-card-cap-padding-y) * 2 - var(
            --mat-toolbar-title-text-line-height
          ) - var(--bs-card-border-width) - var(--mat-toolbar-mobile-height) - var(
            --bs-card-border-width
          )
      );
    }
  }

  footer {
    grid-area: footer;
    height: calc(var(--mat-toolbar-mobile-height) + var(--bs-card-border-width));
  }
}

.d-grid-with-header {
  height: calc(
    var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
        --mat-toolbar-standard-height
      ) * var(--is-mobile) * var(--footer-is-visible)
  );
  @media (max-width: 599px) {
    height: calc(
      var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
          --mat-toolbar-mobile-height
        ) * var(--is-mobile) * var(--footer-is-visible)
    );
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';

  header {
    grid-area: header;
    height: calc(
      var(--bs-card-cap-padding-y) * 2 + var(--mat-toolbar-title-text-line-height) +
        var(--bs-card-border-width)
    );
    &.mobile {
      width: var(--main-container-width);
    }

    .card-header {
      height: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  main {
    grid-area: main;
    height: 100%;
    overflow: auto;
    height: calc(
      var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
          --mat-toolbar-standard-height
        ) * var(--is-mobile) * var(--footer-is-visible) - var(--bs-card-cap-padding-y) * 2 - var(
          --mat-toolbar-title-text-line-height
        ) - var(--bs-card-border-width)
    );
    @media (max-width: 599px) {
      height: calc(
        var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
            --mat-toolbar-mobile-height
          ) * var(--is-mobile) * var(--footer-is-visible) - var(--bs-card-cap-padding-y) * 2 - var(
            --mat-toolbar-title-text-line-height
          ) - var(--bs-card-border-width)
      );
    }

    .table-container {
      height: calc(
        var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
            --mat-toolbar-standard-height
          ) * var(--is-mobile) * var(--footer-is-visible) - var(--bs-card-cap-padding-y) * 2 - var(
            --mat-toolbar-title-text-line-height
          ) - var(--bs-card-border-width) - var(--mat-paginator-container-size)
      );
      @media (max-width: 599px) {
        height: calc(
          var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
              --mat-toolbar-mobile-height
            ) * var(--is-mobile) * var(--footer-is-visible) - var(--bs-card-cap-padding-y) * 2 - var(
              --mat-toolbar-title-text-line-height
            ) - var(--bs-card-border-width) - var(--mat-paginator-container-size)
        );
      }
    }
  }
}

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;

  .mat-mdc-dialog-title {
    max-width: 100%;
  }
}

.mat-icon {
  width: auto !important;
  height: auto !important;
}

.opacity-70 {
  opacity: 0.7;
}

.cursor-pointer {
  cursor: pointer;
}

.card-header {
  &.with-buttons {
    padding: 0.25rem 1rem;

    .d-grid {
      display: grid;
      grid-template-columns: auto 1fr;

      .card-title {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .buttons-container {
        text-align: end;

        .mdc-button {
          padding: 0;
          min-width: var(--mdc-filled-button-container-height);

          .mat-icon {
            margin: 0;
          }
        }

        @media (min-width: 576px) {
          .mdc-button {
            padding: 0 var(--mat-filled-button-horizontal-padding, 16px);

            .mat-icon {
              margin-right: var(--mat-filled-button-icon-spacing, 8px);
              margin-left: var(--mat-filled-button-icon-offset, -4px);
            }
          }
        }
      }
    }
  }
}

@import url('./app/components/calendar/calendar.style.scss');
@import url('./app/components/announcements/announcements.style.scss');
@import url('./app/components/static/wysiwyg-editor/wysiwyg-editor.style.scss');
@import url('./app/components/static/grid/grid.style.scss');

.swipe-animation-container {
  position: absolute;
  left: 0;
  top: 1rem;
  right: 0;
  bottom: 0;

  .swipe-animation {
    position: sticky;
    top: 0;
    left: 35%;
    width: calc(var(--main-container-width) * 0.2);

    .hand-icon {
      position: relative;
      background-image: url('/images/hand-black.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 80px;
      height: 80px;
      opacity: 0.3;
      animation: spin 4s infinite;
      transform-origin: 52% 62%;
    }

    @keyframes spin {
      0% {
        transform: rotate(30deg);
        margin-left: calc(var(--main-container-width) * 0.2);
      }
      50% {
        transform: rotate(-15deg);
        margin-left: calc(var(--main-container-width) * -0.2);
      }
      100% {
        transform: rotate(0deg);
        margin-left: calc(var(--main-container-width) * 0.2);
      }
    }
  }
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  text-align-last: start;
}
