/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();
@import 'node_modules/angular-calendar/scss/angular-calendar.scss';

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: -1,
    ),
  )
);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: -1,
    ),
  )
);

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #00b3e6;

  @include mat.all-component-themes($light-theme);

  //override mat variables
  --mat-list-active-indicator-shape: 0.5rem;
  //size of icon in left menu
  --mdc-list-list-item-leading-icon-size: 1.25rem;
  .mdc-list-item--with-leading-icon .mdc-list-item__start {
    width: auto;
    height: auto;
  }
  //padding of dialog header title
  --mat-dialog-headline-padding: 0 0 0.25rem 24px;
  //dialog header font size
  --mdc-dialog-subhead-size: 1.25rem;

  //override bootstrap colors
  --bs-body-bg: #{--mat-app-background-color};
  --bs-body-color: #{--mat-app-text-color};
  --mat-switch-label-text-color: red;
  --bs-border-color: #{mat.get-theme-color($light-theme, primary-container)};
  .card {
    --bs-card-inner-border-radius: 0;
    --bs-card-cap-bg: #{mat.get-theme-color($light-theme, surface-container)};
  }

  //override calendar colors
  @include cal-theme(
    (
      bg-primary: mat.get-theme-color($light-theme, surface),
      bg-secondary: mat.get-theme-color($light-theme, on-secondary),
      weekend-color: mat.get-theme-color($light-theme, error),
      bg-active: mat.get-theme-color($light-theme, secondary-container),
      border-color: mat.get-theme-color($light-theme, primary-container),
      gray: mat.get-theme-color($light-theme, tertiary),
      today-bg: mat.get-theme-color($light-theme, primary-container),
      event-color-primary: mat.get-theme-color($light-theme, primary),
    )
  );

  .bg-color-primary {
    background-color: mat.get-theme-color($light-theme, primary-container);
  }

  .bg-color-secondary {
    background-color: mat.get-theme-color($light-theme, secondary-container);
  }

  .error-container {
    background-color: #{mat.get-theme-color($light-theme, error)};
    color: #{mat.get-theme-color($light-theme, on-error)};
  }

  .mat-mdc-snack-bar-container {
    &.error {
      --mdc-snackbar-container-color: #{mat.get-theme-color($light-theme, error)};
      --mat-snack-bar-button-color: #{mat.get-theme-color($light-theme, error-container)};
      --mdc-snackbar-supporting-text-color: #{mat.get-theme-color($light-theme, on-error)};
    }
    &.success {
      --mdc-snackbar-container-color: #{mat.get-theme-color($light-theme, tertiary-container)};
      --mat-snack-bar-button-color: #{mat.get-theme-color($light-theme, primary)};
      --mdc-snackbar-supporting-text-color: #{mat.get-theme-color(
          $light-theme,
          on-tertiary-container
        )};
    }
  }

  .mat-mdc-table {
    .mat-mdc-header-row {
      background-color: mat.get-theme-color($light-theme, secondary-container);
      color: mat.get-theme-color($light-theme, on-secondary-container);
    }
  }

  &.theme-dark {
    @include mat.all-component-colors($dark-theme);

    //override bootstrap colors
    --bs-border-color: #{mat.get-theme-color($dark-theme, primary-container)};
    .card {
      --bs-card-inner-border-radius: 0;
      --bs-card-cap-bg: #{mat.get-theme-color($dark-theme, surface-container-high)};
    }

    .bg-color-primary {
      background-color: mat.get-theme-color($dark-theme, primary-container);
    }

    .bg-color-secondary {
      background-color: mat.get-theme-color($dark-theme, secondary-container);
    }

    .error-container {
      background-color: #{mat.get-theme-color($dark-theme, error)};
      color: #{mat.get-theme-color($dark-theme, on-error)};
    }

    .mat-mdc-snack-bar-container {
      &.error {
        --mdc-snackbar-container-color: #{mat.get-theme-color($dark-theme, on-error)};
        --mat-snack-bar-button-color: #{mat.get-theme-color($dark-theme, on-error-container)};
        --mdc-snackbar-supporting-text-color: #{mat.get-theme-color($dark-theme, error)};
      }
      &.success {
        --mdc-snackbar-container-color: #{mat.get-theme-color($dark-theme, secondary-container)};
        --mat-snack-bar-button-color: #{mat.get-theme-color($dark-theme, primary)};
        --mdc-snackbar-supporting-text-color: #{mat.get-theme-color(
            $dark-theme,
            on-secondary-container
          )};
      }
    }

    .mat-mdc-table {
      .mat-mdc-header-row {
        background-color: mat.get-theme-color($dark-theme, secondary-container);
        color: mat.get-theme-color($dark-theme, on-secondary-container);
      }
    }

    //override calendar colors
    @include cal-theme(
      (
        bg-primary: mat.get-theme-color($dark-theme, surface),
        bg-secondary: mat.get-theme-color($dark-theme, on-secondary),
        weekend-color: mat.get-theme-color($dark-theme, error),
        bg-active: mat.get-theme-color($dark-theme, secondary-container),
        border-color: mat.get-theme-color($dark-theme, primary-container),
        gray: mat.get-theme-color($dark-theme, tertiary),
        today-bg: mat.get-theme-color($dark-theme, primary-container),
        event-color-primary: mat.get-theme-color($dark-theme, primary-container),
      )
    );
  }

  --mat-sidenav-container-width: 300px;
}

.d-grid-with-header-and-footer {
  height: calc(
    var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
        --mat-toolbar-standard-height
      ) * var(--is-mobile)
  );
  @media (max-width: 599px) {
    height: calc(
      var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
          --mat-toolbar-mobile-height
        ) * var(--is-mobile)
    );
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  header {
    grid-area: header;
    height: calc(
      var(--bs-card-cap-padding-y) * 2 + var(--mat-toolbar-title-text-line-height) +
        var(--bs-card-border-width)
    );
  }

  main {
    grid-area: main;
    height: 100%;
    overflow: auto;

    height: calc(
      var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
          --mat-toolbar-standard-height
        ) * var(--is-mobile) - var(--bs-card-cap-padding-y) * 2 - var(
          --mat-toolbar-title-text-line-height
        ) - var(--bs-card-border-width) - var(--mat-toolbar-mobile-height) - var(
          --bs-card-border-width
        )
    );
    @media (max-width: 599px) {
      height: calc(
        var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
            --mat-toolbar-mobile-height
          ) * var(--is-mobile) - var(--bs-card-cap-padding-y) * 2 - var(
            --mat-toolbar-title-text-line-height
          ) - var(--bs-card-border-width) - var(--mat-toolbar-mobile-height) - var(
            --bs-card-border-width
          )
      );
    }
  }

  footer {
    grid-area: footer;
    height: calc(var(--mat-toolbar-mobile-height) + var(--bs-card-border-width));
  }
}

.d-grid-with-header {
  height: calc(
    var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
        --mat-toolbar-standard-height
      ) * var(--is-mobile)
  );
  @media (max-width: 599px) {
    height: calc(
      var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
          --mat-toolbar-mobile-height
        ) * var(--is-mobile)
    );
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';

  header {
    grid-area: header;
    height: calc(
      var(--bs-card-cap-padding-y) * 2 + var(--mat-toolbar-title-text-line-height) +
        var(--bs-card-border-width)
    );
  }

  main {
    grid-area: main;
    height: 100%;
    overflow: auto;
    height: calc(
      var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
          --mat-toolbar-standard-height
        ) * var(--is-mobile) - var(--bs-card-cap-padding-y) * 2 - var(
          --mat-toolbar-title-text-line-height
        ) - var(--bs-card-border-width)
    );
    @media (max-width: 599px) {
      height: calc(
        var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
            --mat-toolbar-mobile-height
          ) * var(--is-mobile) - var(--bs-card-cap-padding-y) * 2 - var(
            --mat-toolbar-title-text-line-height
          ) - var(--bs-card-border-width)
      );
    }

    .table-container {
      height: calc(
        var(--main-container-height) - var(--mat-toolbar-standard-height) - var(
            --mat-toolbar-standard-height
          ) * var(--is-mobile) - var(--bs-card-cap-padding-y) * 2 - var(
            --mat-toolbar-title-text-line-height
          ) - var(--bs-card-border-width) - var(--mat-paginator-container-size)
      );
      @media (max-width: 599px) {
        height: calc(
          var(--main-container-height) - var(--mat-toolbar-mobile-height) - var(
              --mat-toolbar-mobile-height
            ) * var(--is-mobile) - var(--bs-card-cap-padding-y) * 2 - var(
              --mat-toolbar-title-text-line-height
            ) - var(--bs-card-border-width) - var(--mat-paginator-container-size)
        );
      }
    }
  }
}

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;

  .mat-mdc-dialog-title {
    max-width: 100%;
  }
}

.mat-icon {
  width: auto !important;
  height: auto !important;
}

.calendar-container {
  .cal-month-view .cal-day-cell {
    width: 10px;
    padding: 0 0.125rem;

    &.cal-out-month .cal-day-number {
      opacity: 0.5;
    }

    &.cal-today .cal-day-number {
      font-size: 1rem;
    }

    &.cal-in-month.cal-has-events {
      cursor: default;
    }
  }

  .cal-month-view .cal-day-number {
    opacity: 1;
    font-size: 1rem;
  }
}

.mobile-wysiwyg-editor-dialog {
  --mat-mdc-dialog-content-padding: 0.25rem;
  --mat-mdc-dialog-surface-border-radius: 0.25rem;

  .mat-mdc-dialog-container-with-actions {
    .mat-mdc-dialog-surface {
      border-radius: var(--mat-mdc-dialog-surface-border-radius);

      .mat-mdc-dialog-component-host {
        .mat-mdc-dialog-content {
          padding: var(--mat-mdc-dialog-content-padding);
          padding-bottom: 0;
        }
      }
    }
  }

  &.full-size-dialog {
    --mat-mdc-dialog-actions-height: 5rem;
    --mat-mdc-dialog-margin: 5px; //this margin is set in dialog.service.ts

    .mat-mdc-dialog-container-with-actions {
      height: calc(var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2);
      width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);

      .mat-mdc-dialog-component-host {
        height: calc(var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2);
        width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);

        .mat-mdc-dialog-content {
          height: calc(
            var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2 - var(
                --mat-mdc-dialog-actions-height
              )
          );
          max-height: calc(
            var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2 - var(
                --mat-mdc-dialog-actions-height
              )
          );
          width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);
          max-width: calc(var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2);

          app-wysiwyg-editor {
            width: calc(
              var(--main-container-width) - var(--mat-mdc-dialog-margin) * 2 - var(
                  --mat-mdc-dialog-content-padding
                ) * 2
            );
            height: calc(
              var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2 - var(
                  --mat-mdc-dialog-content-padding
                ) - var(--mat-mdc-dialog-actions-height)
            );
            display: block;

            quill-editor {
              height: calc(
                var(--main-container-height) - var(--mat-mdc-dialog-margin) * 2 - var(
                    --mat-mdc-dialog-content-padding
                  ) - var(--mat-mdc-dialog-actions-height)
              );
              display: grid;
              grid-template-columns: 100%;
              grid-template-rows: auto 1fr;
            }
          }
        }
      }

      .mat-mdc-dialog-actions {
        height: var(--mat-mdc-dialog-actions-height);
      }
    }
  }
}

.announcement-item-content-container {
  p {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 1rem;

    &:after {
      content: '';
      display: inline-block;
    }
  }
}
