@if (screenInfo()) {
  <div class="block-container">
    @for (si of screenInfo(); track si) {
      <p>{{ si }}</p>
    } @empty {
      <p>There are no items.</p>
    }
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Device info 1</mat-panel-title>
        </mat-expansion-panel-header>
        @for (item of this.deviceInfo1(); track item) {
          <p>{{ item }}</p>
        } @empty {
          <p>There are no items.</p>
        }
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Device info 2</mat-panel-title>
        </mat-expansion-panel-header>
        @for (item of this.deviceInfo2(); track item) {
          <p>{{ item }}</p>
        } @empty {
          <p>There are no items.</p>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>
} @else {
  <div class="block-container">
    <p>Loading...</p>
  </div>
}
