<p>Przykładowe wskazówki do pracy z biuletynem:</p>
<hr />
<p>
  Każdy dzień składa się z 4 punktów:<br />
  1. Modlitwy początkowe - codzienne te same, będą one zawsze na początku biuletynu. Możesz pomodlić
  się tymi modlitwami, albo jakąkolwiek, dowolną dla Ciebie.<br />
  2. Przeczytaj rozważanie. Zaznacz co najbardziej z tego rozważania do Ciebie dociera.<br />
  3. Przeczytaj pogłębiarkę, zrób tak samo, zaznacz co najbardziej do Ciebie przemawia.<br />
  4. Połącz pkt. 2 i 3, napisz kilka zdań w formie notatki albo modlitwy to co do Ciebie dotarło i
  odmów 10 różańca.
</p>
<hr />
<p>
  1. Co mówi nam ten tekst o Jezusie? O Kościele?<br />
  2. Do czego ten tekst Cię wzywa? Do jakich konkretnych postaw?<br />
  3. Sformułuj modlitwę przy pomocy treści przeczytanej perykopy w dowolnej formie (dziękczynienie,
  uwielbienie, przeproszenie, prośba).<br />
  4. Do jakich działań, czynów, dzieł czujesz się przynaglony przez to Słowo? Porównaj je z
  wnioskami z pierwszej lektury.<br />
  5. Zapisz swoje postanowienie, by wieczorem zrobić rachunek sumienia z wypełnienia Bożego wezwania
  płynącego z tego słowa.
</p>
