@if (isTokenValid() === true) {
  <div class="container">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-12 fw-bold mt-3">
          {{ 'ResetPassword/ChangePasswordTitle' | gmessage }}
        </div>
        <div
          class="col-12 my-3"
          [innerHtml]="
            'ResetPassword/ChangePasswordDescription' | gmessage: { email: userEmail() }
          "></div>
        <div class="col-12">
          <div
            class="alert alert-light"
            role="alert"
            [innerHtml]="'ResetPassword/ChangePasswordHint' | gmessage"></div>
        </div>
      </div>

      <app-reset-password-control class="row mb-3" [formGroup]="formGroup">
      </app-reset-password-control>

      <div class="row mb-4">
        <div class="col text-end">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!formGroup.valid"
            (click)="changePassword()">
            {{ 'ResetPassword/ChangePassword' | gmessage }}
          </button>
        </div>
      </div>
    </form>
  </div>
} @else if (isTokenValid() === false) {
  <div class="container">
    <div class="row">
      <div class="col-12 error-container fw-bold my-3 p-2">
        {{ 'ResetPassword/ChangePasswordNotPossible' | gmessage }}
      </div>
      <div class="col-12">
        {{ 'ResetPassword/InvalidToken' | gmessage }}
      </div>
      <div class="col-12">
        {{ 'ResetPassword/TryAgain' | gmessage }}
      </div>
      <p class="small my-3">{{ 'ResetPassword/InvalidTokenHint' | gmessage }}</p>
    </div>
  </div>
}
