@if (bulletin()) {
  <div class="card border-0">
    <div class="d-grid-with-footer">
      <main>
        <div class="card-body">
          <h5 class="card-title">{{ bulletin()!.title }}</h5>
          @if (bulletin()!.introduction) {
            <app-preview-bulletin-section
              [content]="bulletin()!.introduction!"></app-preview-bulletin-section>
          }

          @if (bulletin()!.tipsForWork) {
            <app-preview-bulletin-section
              [content]="bulletin()!.tipsForWork!"></app-preview-bulletin-section>
          }

          @if (bulletin()!.dailyPrayer) {
            <app-preview-bulletin-section
              [content]="bulletin()!.dailyPrayer!"></app-preview-bulletin-section>
          }

          @if (bulletin()!.days && bulletin()!.days.length > 0) {
            @for (day of bulletin()!.days; track day) {
              <app-preview-bulletin-day [day]="day"></app-preview-bulletin-day>
            }
          }
        </div>
      </main>
      <footer class="sticky-bottom">
        <div
          class="card-footer text-body-secondary d-flex justify-content-between align-items-center">
          @if (showEditButton()) {
            <button mat-raised-button type="button" class="ms-4" (click)="edit()">
              {{ 'Shared/BtnEdit' | gmessage }}
            </button>
          }

          <button mat-raised-button type="button" class="me-4" (click)="cancel()">
            {{ 'Shared/BtnOk' | gmessage }}
          </button>
        </div>
      </footer>
    </div>
  </div>
}
