<div class="card h-100 border-0">
  <div class="d-grid-with-header">
    <header class="mat-toolbar">
      <app-card-header [title]="'Management/Permissions/Title'"> </app-card-header>
    </header>
    <main>
      <div class="card-body p-0">
        <div class="row m-0">
          <div class="col col-12 col-md-6 col-lg-5 col-xl-4 border-end px-0">
            <div class="list-with-title">
              <div class="title">
                <h6 class="d-none d-md-block ps-2">
                  {{ 'Management/Permissions/Users_LargeScreen' | gmessage }}
                </h6>
                <h6 class="d-md-none ps-2">
                  {{ 'Management/Permissions/Users_NarrowScreen' | gmessage }}
                </h6>
                <mat-form-field class="w-100">
                  <input
                    #filterInput
                    matInput
                    type="text"
                    class="w-100"
                    [placeholder]="'Management/Permissions/UsersFilterPlaceholder' | gmessage"
                    inputChanged
                    (inputChanged)="handleFilterChanged($event)"
                    [disabled]="!filteredUsers()" />
                  <button
                    mat-icon-button
                    matSuffix
                    [attr.aria-label]="'Management/Permissions/BtnClearLabel' | gmessage"
                    [matTooltip]="'Management/Permissions/BtnClearLabel' | gmessage"
                    (click)="filterInput.value = ''; handleFilterChanged('')"
                    [disabled]="!filteredUsers() || !filterInput.value">
                    <mat-icon>filter_alt_off</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="list user-list">
                @if (filteredUsers()) {
                  <mat-selection-list
                    [multiple]="false"
                    (selectionChange)="onUserSelected($event)"
                    class="hide-list-item-end">
                    @for (user of filteredUsers(); track user) {
                      <mat-list-option [value]="user.id">
                        <button
                          mat-icon-button
                          class="d-md-none me-2"
                          aria-label="Example icon button with a vertical three dot icon"
                          (click)="showUserPermissions(user.id)">
                          <mat-icon>key</mat-icon>
                        </button>
                        {{ user.name }}
                      </mat-list-option>
                    }
                  </mat-selection-list>
                } @else {
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
              </div>
            </div>
          </div>
          <div class="col col-md-6 col-lg-7 col-xl-8 d-none d-md-block">
            <div class="list-with-title">
              <div class="title">
                <h6 class="ps-2">{{ 'Management/Permissions/Permissions' | gmessage }}</h6>
              </div>
              <div class="list">
                @if (selectedUser()) {
                  <app-permissions-tree [user]="selectedUser()!"></app-permissions-tree>
                } @else {
                  <div class="alert alert-secondary" role="alert">
                    {{ 'Management/Permissions/SelectUserHint' | gmessage }}
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
