@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_mixins';
@import 'bootstrap/scss/_variables';

.mat-toolbar {
  height: fit-content !important;

  .footer-button {
    display: flex;
    flex-direction: column;
    font-size: small;
    border-radius: 0.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .mat-toolbar {
    .footer-button {
      flex-direction: row;
      font-size: medium;
      font-weight: 300;
    }
  }
}

@include media-breakpoint-up(md) {
  .mat-toolbar {
    .footer-button {
      font-size: large;
      font-weight: 400;
    }
  }
}
