<mat-toolbar color="primary" class="justify-content-center py-2">
  <button
    mat-flat-button
    class="footer-button px-2 px-md-3"
    (click)="navigateTo(NewsMenu.Path)">
    <mat-icon class="m-0">{{ NewsMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ NewsMenu.Label | gmessage }}</span>
  </button>

  <button
    mat-flat-button
    class="footer-button mx-sm-4 mx-3 px-2 px-md-3"
    (click)="navigateTo(BulletinMenu.Path)">
    <mat-icon class="m-0">{{ BulletinMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ BulletinMenu.Label | gmessage }}</span>
  </button>

  <button
    mat-flat-button
    class="footer-button px-2 px-md-3"
    (click)="navigateTo(CommunityMenu.Path)">
    <mat-icon class="m-0">{{ CommunityMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ CommunityMenu.Label | gmessage }}</span>
  </button>
</mat-toolbar>
