@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_mixins';
@import 'bootstrap/scss/_variables';

.mat-toolbar {
  .footer-button {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    font-weight: 400;
  }
}

@include media-breakpoint-up(sm) {
  .mat-toolbar {
    .footer-button {
      flex-direction: row;
    }
  }
}

@include media-breakpoint-up(md) {
  .mat-toolbar {
    .footer-button {
      font-weight: 700;
    }
  }
}
