<mat-toolbar class="justify-content-center px-0 py-2">
  <button
    mat-flat-button
    class="footer-button px-md-3 me-sm-4 me-3 px-2"
    (click)="navigateTo(AnnouncementsMenu.Path)">
    <mat-icon class="d-none d-sm-block m-0">{{ AnnouncementsMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ AnnouncementsMenu.Label | gmessage }}</span>
  </button>

  <button
    mat-flat-button
    class="footer-button px-md-3 me-sm-4 me-3 px-2"
    (click)="navigateTo(BulletinMenu.Path)">
    <mat-icon class="d-none d-sm-block m-0">{{ BulletinMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ BulletinMenu.Label | gmessage }}</span>
  </button>

  <button
    mat-flat-button
    class="footer-button px-md-3 me-sm-4 me-3 px-2"
    (click)="navigateTo(CalendarMenu.Path)">
    <mat-icon class="d-none d-sm-block m-0">{{ CalendarMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ CalendarMenu.Label | gmessage }}</span>
  </button>

  <button
    mat-flat-button
    class="footer-button px-md-3 me-sm-4 d-none d-md-flex me-3 px-2"
    (click)="navigateTo(CommunityMenu.Path)">
    <mat-icon class="d-none d-sm-block m-0">{{ CommunityMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ CommunityMenu.Label | gmessage }}</span>
  </button>

  <button
    mat-flat-button
    class="footer-button px-md-3 me-sm-4 d-none d-lg-flex me-3 px-2"
    (click)="navigateTo(NewsMenu.Path)">
    <mat-icon class="d-none d-sm-block m-0">{{ NewsMenu.Icon }}</mat-icon>
    <span class="d-block d-sm-inline ms-sm-2">{{ NewsMenu.Label | gmessage }}</span>
  </button>
</mat-toolbar>
