<mat-toolbar color="primary" class="footer justify-content-center py-2">

  <button mat-flat-button color="primary" class="footer-button" (click)="router.navigate(['/news']);">
    <mat-icon>newspaper</mat-icon>
    <span class="d-none d-sm-inline ms-2">{{ 'Footer/News' | gmessage }}</span>
  </button>

  <button mat-flat-button color="primary" class="footer-button mx-4" (click)="router.navigate(['/bulletin']);">
    <mat-icon>local_library</mat-icon>
    <span class="d-none d-sm-inline ms-2">{{ 'Footer/Bulletin' | gmessage }}</span>
  </button>

  <button mat-flat-button color="primary" class="footer-button" (click)="router.navigate(['/community']);">
    <mat-icon>diversity_2</mat-icon>
    <span class="d-none d-sm-inline ms-2">{{ 'Footer/Community' | gmessage }}</span>
  </button>

</mat-toolbar>
