<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 16px;
      margin: 10%;
      color: #000;
      text-align: center;
    }

    p {
      text-align: start;
    }

    a {
      background-color: #005cbb;
      color: white;
      padding: 0.75rem 1.25rem;
      display: inline-block;
      border: 2px solid #002E5E;
      border-radius: 1rem;
    }

    .small {
      font-size: 80%;
      color: #595959;
    }

    .mb-1 {
      margin-bottom: 0.25rem !important;
    }

    .mt-1 {
      margin-top: 0.25rem !important;
    }
  </style>
</head>

<body>
  <p>Cześć {{name}},</p>
  <p>Chcesz zresetować hasło do aplikacji Miriam?<br>
    Żaden problem! Wystarczy kliknąć w przycisk poniżej.</p>
  <a href="https://{{link}}">Resetuj hasło</a>
  <p class="small mb-1">Link do resetu hasła może być użyty tylko raz i jest ważny przez godzinę. Po tym czasie traci
    ważność i należy wysłać kolejną prośbę o zmianę hasła.</p>
  <p class="small mt-1">Jeżeli prośba o reset hasła nie została wysłana przez Ciebie, możesz zignorować tę wiadomość a
    hasło
    nie zostanie zmienione. Twoje dane są bezpieczne.</p>
</body>

</html>
