<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
      font-size: 16px;
      margin: 10%;
      color: #000;
      text-align: center;
    }

    p {
      text-align: start;
      margin: 0 !important;
    }

    a.btn {
      transition: all .2s ease;
      background-color: #005cbb;
      color: white;
      padding: 0.75rem 1.25rem;
      display: inline-block;
      border: 2px solid #002E5E;
      border-radius: 1rem;
      text-decoration: none;
      font-weight: bold;
    }

    a.btn:hover {
      background-color: #2AAF74;
      border-color: #117554;
    }

    .text-small {
      font-size: 80%;
      color: #595959;
    }

    .my-2 {
      margin: 1rem 0 !important;
    }

    .mb-1 {
      margin-bottom: 0.5rem !important;
    }
  </style>
</head>

<body>
  <p>Cześć {{name}}!</p>
  <p class="mb-1">Dostaliśmy informację, że chcesz zacząć korzystać z aplikacji Miriam.<br>
    Jest nam niezmiernie miło.</p>
  <p>Aby rozpocząć przygodę z naszą aplikacją, najpierw musisz aktywować swoje konto.<br>
    Kliknij poniższy przycisk </p>
  <a class="btn my-2" href="{{link}}" target="_blank" rel="noopener noreferrer">Aktywuj konto</a>
  <p class="mb-1">Pozdrawiamy serdecznie i życzymy bezawaryjnego korzystania z aplikacji.</p>
  <p class="text-small">Jeżeli to nie Ty wygenerował(aś/eś) prośbę o utworzenie konta w aplikacji Miriam zignoruj
    niniejszą wiadomość i skontaktuj się z nami telefonicznie, nasz nr tel. <a href="tel:884-315-151">884-315-151</a>.
    Więcej informacji na nasz temat na <a href="https://miriam.rzeszow.pl/">miriam.rzeszow.pl</a><br>
    W razie jakichkolwiek pytań służymy pomocą i zachęcamy do kontaktu.</p>
</body>

</html>
